@using Kendo.Mvc.UI

@{
    Layout = null;
}

  <script>
      completed = function (xhr) {
          $('#myModal').modal('hide');
         //   RefreshPorRol();
          //  RefreshPorUser();
       //     alert(` ${xhr.responseText}!`);
          
      };
          
 </script>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Agregar rol y usuario</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
          
                <form class="form-signin" id="frmUserRol"
                kendo-validator="true" 
                 data-ajax-method="post"                  
                 data-ajax-complete="completed" 
                data-ajax-begin="SaveUserRol"
                 data-ajax="true" >
                    <div class="row">
                        <div class="col-md-4">
                            @Html.Label("Usuario")
                            @(Html.Kendo().DropDownList()
                                                                      .Name("UserId")
                                                                      .OptionLabel("Seleccione un usuario")
                                                                      .DataValueField("Id")
                                                                      .DataTextField("UserName")
                                                                      .Events(ev => ev.DataBound("setRequiredAttr"))
                                                                      .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                                      .HtmlAttributes(new { @style = "width:100%"/*, @required = "true" */})
                                                                      .Enable(true)
                                                                      .DataSource(Source => Source.Custom().Sort(s => s.Add("UserName"))
                                                             .Transport(tr => tr.Read(r => r.Action("GetUsuariosJson", "Usuario"))))
                            )
                            <span id="c" class="k-invalid-msg" data-for="UserId"></span>
                        </div>


                        <script>
                            function setRequiredAttr(evt) {
                                if (evt.sender.dataSource.data().length < 1) {
                                    evt.sender.element.removeAttr("data-val-required");
                                }
                                else {
                                    evt.sender.element.attr("data-val-required", "El Usuario es requerido.");
                                }
                            }

                            function setRequiredRol(evt) {
                                if (evt.sender.dataSource.data().length < 1) {
                                    evt.sender.element.removeAttr("data-val-required");
                                }
                                else {
                                    evt.sender.element.attr("data-val-required", "El Rol es requerido.");
                                }
                            }


                        </script>

                        <div class="col-md-4">
                            @Html.Label("Rol")
                            @(Html.Kendo().DropDownList()
                                             // .HtmlAttributes(new { data_bind="value:RoleId"})
                                             .Name("RoleId")
                                             .DataValueField("Id")
                                             .DataTextField("Name")
                                             .Events(ev => ev.DataBound("setRequiredRol"))
                                             .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                             .HtmlAttributes(new { @style = "width:100%"/*, @required = "true"*/ })
                                             .OptionLabel("Seleccione un rol")
                                             //.Events(e=>e.Select("rolf"))
                                             .AutoBind(true)
                                             .Enable(true)
                                             .DataSource(Source => Source.Custom().Sort(s => s.Add("Name"))
                                             .Transport(tr => tr.Read(r => r.Action("GetJsonRoles", "Roles"))))

                            )
                            <span class="k-invalid-msg" data-for="RoleId"></span>
                        </div>


                    </div>
                    
                 @*<div class="row">
                     
                 </div>*@
                    <br/>
                    <div class="row">
                      <div class="col-md-12">
                           <button class="form-control btn-miboton" type="submit">
                          Guardar</button>
                       </div>
                    </div>
              </form>
            
           </div>
      <div class="modal-footer">
           
        @*<button type="button" id="btnSaveUserRol" class="btn btn-default" data-dismiss="modal">Close</button>*@
      </div>
    </div>

  </div>
</div>

<script>
    function SaveUserRol() {
        var notification = $("#notification").data("kendoNotification");
        $("#btnSaveUserRol").hide();
        $("#btnSaveUserRol").prop("disabled", true);
        var validator = $("#frmUserRol").data("kendoValidator");

        var dataObject = {
            UserId: $("#UserId").val(),
            UserName: $("#UserId").data("kendoDropDownList").text(),
            RoleId: $("#RoleId").val(),
            RoleName: $("#RoleId").data("kendoDropDownList").text(),

        };


       // console.log(dataObject);

        if (validator.validate()) {
            $.ajax({
                url: '@Url.Action("Insert", "UserRol")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    //notification.show({
                    //    message: "Guardado correctamente!"
                    //}, "upload-success");
                    $.toast({
                        heading: 'Satisfactorio',
                        text: 'Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 30000,
                        stack: 6
                    });

                    RefreshPorRol();
                    RefreshPorUser();
                    $('#myModal').modal('hide');


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btnSaveUserRol").show();
                    $("#btnSaveUserRol").prop("disabled", false);
                    notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });
        }
        else {
            $("#btnSaveUserRol").show();
            $("#btnSaveUserRol").prop("disabled", false);
        }
    }
</script>



