@{
    ViewData["Title"] = "Roles por Usuario";

}


<script>

    function AddUserRol() {

        $('#myModal').modal('show');
        $("#RoleId").data("kendoDropDownList").value('0');
        $("#UserId").data("kendoDropDownList").value('0');

        var validator = $("#frmUserRol").data("kendoValidator");
        validator.hideMessages();


        @*var window = $('#wUserRol').data('kendoWindow');
        var _url = "@Url.Action("pvwAddUserRol", "UserRol")";*@

        //window.refresh({
        //    url: _url
        //});
        //window.width = "100%";
        //window.center().open();

    }

    function RefreshPorRol() {
        var grid2 = $("#gridUsersRoles").getKendoGrid();
        if (grid2 != null) {
            grid2.dataSource.read();
        }
    }

    function RefreshPorUser() {
        var grid = $("#gridRolesByUser").getKendoGrid();
        if (grid != null) {
            grid.dataSource.read();
        }
    }

       function EliminarUsuarioRol(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            'UserId': dataItem.UserId,
            'RoleId': dataItem.RoleId
        };

             $.ajax({
                url: '@Url.Action("Delete", "UserRol")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                 async: false,
                 data: JSON.stringify(dataObject),
                 success: function (data) {


                      RefreshPorRol();
                     RefreshPorUser();



                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            }
            );

    }
</script>


<h3 class="text-themecolor">Roles Usuario</h3>


@(Html.Kendo().TabStrip()
               .Name("tabUserRol")
               .Items(tabstrip =>
               {
                   tabstrip.Add().Text("Por Rol")
                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                   //.Content(@Url.Action("CustomersOfCustomer", "CustomerOfCustomer"));
                   .LoadContentFrom("PorRol", "UserRol");

                   tabstrip.Add().Text("Por Usuario")
                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                   .LoadContentFrom(@Url.Action("PorUsuario", "UserRol"));



               })
               .SelectedIndex(0)
)


@await Html.PartialAsync("pvwAddUserRol")





