@model ERPMVC.DTO.SubProductDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalSubProduct" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Producto </h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmSubProduct" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveSubProduct"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">SubProduct</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubproductId" class=" control-label" style="width:100%">Id SubProduct</label>
                                                    <input type="text" asp-for="SubproductId" name="IdSubProduct" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="SubproductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductName" class=" control-label" style="width:100%">Nombre SubProducto</label>
                                                    <input type="text" asp-for="ProductName" name="NombreSubProduct" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductCode" class=" control-label" style="width:100%">Código de Producto</label>
                                                    <input type="number" asp-for="ProductCode" name="DescripcionSubProduct" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Barcode" class=" control-label" style="width:100%">Barcode</label>
                                                    <input type="text" asp-for="Barcode" name="Barcode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Barcode" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                    <input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label">Unidad de medida</label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId"
                                                                        for="@Model.UnitOfMeasureId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar UOM"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasureJson", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Merma" class=" control-label" style="width:100%">Merma</label>
                                                    <input type="number" asp-for="Merma" name="Merma" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Merma" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductTypeId" class="control-label">Tipo de producto</label>
                                                    <kendo-dropdownlist name="ProductTypeId"
                                                                        for="@Model.ProductTypeId"
                                                                        enable="Model.IsEnable"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar tipo de producto"
                                                                        datatextfield="ProductTypeName"
                                                                        datavaluefield="ProductTypeId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="14000">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "ProductType")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Balance" class=" control-label" style="width:100%">Balance</label>
                                                    <input type="number" asp-for="Balance" name="Balance" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Balance" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BagBalance" class=" control-label" style="width:100%">Bag Balance</label>
                                                    <input type="number" asp-for="BagBalance" name="Balance" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="BagBalance" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSubProduct" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    function RefreshCotizaciones() {
       // $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridSubProduct").getKendoGrid();
        grid.dataSource.read();
    }

        function SaveSubProduct(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnSubProduct").hide();
            $("#btnSubProduct").prop("disabled", true);

            var displayedData = $("#gridSubProduct").data().kendoGrid.dataSource.view();

            var dataObject = {
                'SubproductId': $("#SubproductId").val() === "" ? "0" : $("#SubproductId").val(),
                'ProductName': $("#ProductName").val(),
                'ProductCode': $("#ProductCode").val(),
                'Barcode': $("#Barcode").val(),
                'UnitOfMeasureId': $("#UnitOfMeasureId").data("kendoDropDownList").value(),
                'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
                'Description': $("#Description").val(),
                'ProductTypeId': $("#ProductTypeId").data("kendoDropDownList").value(),
                'ProductTypeName': $("#ProductTypeId").data("kendoDropDownList").text(),
                'Merma': $("#Merma").val(),
                'BagBalance': $("#BagBalance").val(),
                'Balance': $("#Balance").val()
                  //'FechaCreacion': $("#FechaCreacion").val(),
                  //'FechaModificacion':$("#FechaModificacion").val(),
                  //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                  //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                 // '_SubProduct': displayedData
            };

            console.log('OBJETO', dataObject);

             //console.log(JSON.stringify(dataObject));
             //var form = $("#frmNumeracion");
             //form.validate();
            //console.log(dataObject);
            var validator = $("#frmSubProduct").data("kendoValidator");
                 var status = $(".status");
           // console.log(validator)
            //console.log('VERIFICAR',displayedData.length)

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveSubProduct", "SubProduct")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '</br></br>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalSubProduct').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnSubProduct").show();
            $("#btnSubProduct").prop("disabled", false);
    }
</script>
