@model ERPMVC.DTO.BranchDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Requerido" },
                    {"required","Valor requerido" }
                };    
}

    <script>
        function customFunction(input) {
            if (input.attr('name') === "Id" && input.val() === "0") {
                return false;
            }

        }
    </script>

    <div id="ModalBranch" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sucursales</h4>
                    <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row" id="validation">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="frmBranch" kendo-validator="true" kendo-message="messages"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          data-ajax-begin="SaveBranch"
                                          class="validation-wizard wizard-circle">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12" hidden>
                                                    <div class="form-group">
                                                        <label asp-for="BranchId" class=" control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="BranchId" name="BranchId" class="form-control" disabled="disabled" style="width:100%" onchange="PrevenirCambios()" />
                                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="BranchName" class=" control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="BranchName" name="BranchName" class="form-control" maxlength="50" autocomplete="off" style="width:100%" onchange="PrevenirCambios()" required data-required-msg="Nombre es requerido" />
                                                        <span asp-validation-for="BranchName" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" >
                                                    <div class="form-group">
                                                        <label asp-for="BranchType" class=" control-label" style="width:100%"></label>
                                                        <input asp-for="BranchType" name="BranchType" autocomplete="off" onchange="validarBranchType()" style="min-width:100%" required data-required-msg="Tipo es requerido"/>
                                                        <span id="BranchTypeoAlert" class="text-danger">Seleccione el Genero!</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                        <input type="text" asp-for="Description" name="Description" class="form-control" maxlength="100" autocomplete="off" style="width:100%" onchange="PrevenirCambios()" required data-required-msg="Descripción es requerida"/>
                                                        <span asp-validation-for="Description" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <script>
                                                        function refreshdepartamento() {
                                                            $("#StateId").data("kendoDropDownList").dataSource.read();
                                                        }
                                                    </script>
                                                    <div class="form-group">

                                                        <label asp-for="CountryId" class="control-label"></label>
                                                        <kendo-dropdownlist name="CountryId"
                                                                            for="@Model.CountryId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar País"
                                                                            datatextfield="Name"
                                                                            onchange="refreshdepartamento();"
                                                                            datavaluefield="Id"
                                                                            required data-required-msg="Pais es requerido"
                                                                            auto-bind="true"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "Country")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="CountryId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <script>
                                                        function GetCountryId() {

                                                            return { 'CountryId': $("#CountryId").val() }
                                                        }

                                                        function refreshmunicipio() {
                                                            $("#CityId").data("kendoDropDownList").dataSource.read();
                                                        }
                                                    </script>
                                                    <div class="form-group">
                                                        <label asp-for="StateId" class=" control-label" style="width:100%">Departamento</label>
                                                        @*<input type="text" asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />*@
                                                        <kendo-dropdownlist name="StateId"
                                                                            for="@Model.StateId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar Departamento"
                                                                            auto-bind="true"
                                                                            onchange="refreshmunicipio();"
                                                                            required data-required-msg="Departamento es requerido"
                                                                            datatextfield="Name"
                                                                            datavaluefield="Id"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetJson", "State")" data="GetCountryId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <script>
                                                        function GetStateId() {

                                                            return { 'StateId': $("#StateId").val() }
                                                        }
                                                    </script>
                                                    <div class="form-group">
                                                        <label asp-for="CityId" class=" control-label" style="width:100%"></label>
                                                        <kendo-dropdownlist name="CityId"
                                                                            for="@Model.CityId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar Ciudad"
                                                                            auto-bind="true"
                                                                            required data-required-msg="Cuidad es requerida"
                                                                            datatextfield="Name"
                                                                            datavaluefield="Id"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetCityJson", "City")" data="GetStateId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="CityId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="IdEstado" class="control-label">Estado</label>
                                                        <kendo-dropdownlist name="IdEstado" enable="true"
                                                                            for="@Model.IdEstado"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar Estado"
                                                                            datatextfield="NombreEstado"
                                                                            datavaluefield="IdEstado"
                                                                            style="width: 100%;"
                                                                            required data-required-msg="Estado es requerido">                                                           
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetEstadoByGrupo", "Estados", new { pIdEstado = 1 })" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Phone" class=" control-label" style="width:100%">Teléfono</label>
                                                        <input type="text" asp-for="Phone" name="Phone" class="form-control" autocomplete="off" style="width:100%" onchange="PrevenirCambios()" required data-required-msg="Teléfono es requerido" />
                                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Email" class=" control-label" style="width:100%">Email</label>
                                                        <input type="text" asp-for="Email" name="Email" class="form-control" required data-required-msg="El correo es requerido." autocomplete="off" style="width:100%" maxlength="50" placeholder="nombre@ejemplo.com" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Address" class=" control-label" style="width:100%">Dirección</label>
                                                        <textarea asp-for="Address" name="Address"  class="form-control required" maxlength="150" style="min-width: 100% !important;" onchange="PrevenirCambios()"required data-required-msg="Dirección es requerida"></textarea>
                                                        <span asp-validation-for="Address" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="EmployeeId" class="control-label">Encargado</label>
                                                        <kendo-dropdownlist id="EmployeeId" name="EmployeeId"
                                                                            for="@Model.EmployeeId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar Empleado"
                                                                            datatextfield="NombreEmpleado"
                                                                            datavaluefield="IdEmpleado"
                                                                            required data-required-msg="Encargado es requerido"
                                                                            style="width: 100%;" onchange="PrevenirCambios()">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "Employees")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnBranch" class="btn btn-success" type="button" onclick="SaveBranch()"> Guardar </button>
                                            <button type="button" class="btn btn-default" onclick="CerrarModal()">Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>


    //crea el drop de tipo de sucursal
    function validarBranchType() {
        var BranchType = $("#BranchType").val();
        console.log("Valor Genero", BranchType);
        if (BranchType == 0 || $("#BranchType").data("kendoDropDownList").text() == "Seleccione Tipo Sucursal") {
            $("#BranchTypeoAlert").show();
        }
        else {
            $("#BranchTypeoAlert").hide();
        }
    }
    $(document).ready(function () {
        // create DropDownList from input HTML element
        var data = [
            { text: "Seleccione Tipo Sucursal", value: "0" },
            { text: "Nuevo", value: "1" },
            { text: "Usado", value: "2" }
        ];

        $("#BranchType").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            index: 0,
            //change: onChange
        });
        $("#BranchTypeoAlert").hide();
    })
    if (@Model.BranchId!= 0) {
         if ("@Model.LimitCNBS" == "1.00") {
        debugger
             var data = [
                 { text: "Nuevo", value: "1" },
                 { text: "Usado", value: "2" }
             ];

             $("#BranchType").kendoDropDownList({
                 dataTextField: "text",
                 dataValueField: "value",
                 dataSource: data,
                 index: 0,
                 //change: onChange
             });
             $("#BranchTypeoAlert").hide();
        }
        else if("@Model.LimitCNBS" == "2.00"){
             var data = [
                 { text: "Usado", value: "2" },
                 { text: "Nuevo", value: "1" }
             ];

             $("#BranchType").kendoDropDownList({
                 dataTextField: "text",
                 dataValueField: "value",
                 dataSource: data,
                 index: 0,
                 //change: onChange
             });
             $("#BranchTypeoAlert").hide();
        }
    }

    //validar si hay datos en los campos cuando cierra el modeal, y validar espacios
    var changes = false;

    function PrevenirCambios() {
        changes = true;
        //convertir a mayuscula la descripcion
        $("#BranchName").change(function () {
            var str = $("#BranchName").val();
            var res = str.toUpperCase();
            $("#BranchName").val(res);
            debugger
        });
        //validar espacios
        if (document.frmBranch.BranchName.value.split('  ').length >= 2) {
            alert('Hay mas de 2 Espacios Juntos');
            document.frmBranch.BranchName.value = '';
        }
        if (document.frmBranch.Description.value.split('  ').length >= 2) {
            alert('Hay mas de 2 Espacios Juntos');
            document.frmBranch.Description.value = '';
        }
        if (document.frmBranch.Address.value.split('  ').length >= 2) {
            alert('Hay mas de 2 Espacios Juntos');
            document.frmBranch.Address.value = '';
        }
        if (document.frmBranch.Email.value.split('  ').length >= 2) {
            alert('Hay mas de 2 Espacios Juntos');
            document.frmBranch.Email.value = '';
        }

    }
    //cierra modal
    function CerrarModal() {
        if (changes) {
            swal({
                title: "Cerrar",
                text: "Los datos que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                cancelButtonText: "Cancelar",
                confirmButtonText: "Aceptar"
            }, function () {
                $('#ModalBranch').modal('hide');
            });
        } else {
            $('#ModalBranch').modal('hide');
        }
    }


    $(document).ready(function () {
        $("#Phone").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });

    });

    function RefrescarGrid() {

        var grid = $("#gridNumeracionBranch").getKendoGrid();
        grid.dataSource.read();
    }
        function SaveBranch(e) {

            if ($("#Phone").val().indexOf('_') != -1) {
                swal("Error", "Colocar el telefono en un formato correcto.");
            return (false);
            }


            var notification = $("#notification").data("kendoNotification");
            $("#btnBranch").hide();
            $("#btnBranch").prop("disabled", true);

            var displayedData = $("#gridNumeracionBranch").data().kendoGrid.dataSource.view();
        
            var dataObject = {
            'BranchId': $("#BranchId").val() === "" ? "0" : $("#BranchId").val(),
            'BranchName': $("#BranchName").val(),
            'Description': $("#Description").val(),
            'Address': $("#Address").val(),
            'CityId': $("#CityId").val(),
            'CountryId': $("#CountryId").val(),
            'StateId': $("#StateId").val(),
            'ZipCode': $("#ZipCode").val(),
            'Phone': $("#Phone").val(),
            'Email': $("#Email").val(),
            'EmployeeId': $("#EmployeeId").val(),
            'IdEstado': $("#IdEstado").val(),
            'BranchType': $("#BranchType").val(),
            'LimitCNBS': 1.0,
            '_Brach': displayedData
            };

        
            var validator = $("#frmBranch").data("kendoValidator");
                 var status = $(".status");
        debugger;
            console.log('VERIFICAR',dataObject)
                if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Action("SaveBranch", "Branch")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            swal("Sucursal", "Almacenada con éxito", "success");
                            RefrescarGrid();

                            $('#ModalBranch').modal('hide');
                            window.addEventListener("keyup", function (event) {
                                var codigo = event.keyCode || event.which;
                                if (codigo == 13) {
                                }
                            }, false);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            swal("Error", "Ya existe una sucursal con este nombre", "error");
                        }
                    });

                }
                else {
                    status.text("Datos invalidos en el formulario!")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnBranch").show();
            $("#btnBranch").prop("disabled", false);
        }

        function soloLetras(e) {
                key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = "8-37-39-46";

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                tecla_especial = true;
            break;
        }
}

            if (letras.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
        }
        }

        document.addEventListener("input", function () {
        $("input[type='text']", 'form').each(function () {
            _id = $(this).attr("id");
            _value = document.getElementById(_id).value;
            document.getElementById(_id).value = _value.trimStart();
        });
    });
    </script>