@model ERPMVC.DTO.PolicyRolesDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalPolicyRoles" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Roles Politica</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmPolicyRoles" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SavePolicyRoles"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Roles Politicas</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Id" name="Id" id="Id" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPolicy" class="control-label">Politica</label>
                                                    <kendo-dropdownlist name="PolicyId"
                                                                        id="IdPolicy"
                                                                        for="@Model.IdPolicy"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Politica"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetPolicy", "Policy")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdRol" class="control-label">Roles</label>
                                                    <kendo-dropdownlist name="IdRol"
                                                                        id="IdRol"
                                                                        for="@Model.IdRol"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Usuario"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetPolicyRoles", "Roles")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        id="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btPolicyRoles" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SavePolicyRoles(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btPolicyRoles").hide();
        $("#btPolicyRoles").prop("disabled", true);

        var displayedData = $("#gridPolicyRoles").data().kendoGrid.dataSource.view();

        var dataObject = {  'Id': $("#Id").val()===""?"0":$("#Id").val(),
                            'IdPolicy':$("#IdPolicy").val(),
                            'IdRol':$("#IdRol").val(),
                            'IdEstado':$("#IdEstado").val(),
                            'Estado':$("#IdEstado").data("kendoDropDownList").text(),
                            'UsuarioCreacion':$("#UsuarioCreacion").val(),
                            'UsuarioModificacion':$("#UsuarioModificacion").val(),
                            '_PolicyRoles': displayedData
        };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmPolicyRoles").data("kendoValidator");
                 var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SavePolicyRoles", "PolicyRoles")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefreshGridPolicyRoles();

                            $('#ModalPolicyRoles').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            }
            else {
                notification.show({
                    title: "Validación",
                    message: "Debe agregar los productos!"
                }, "error");
               // notification.show("New E-mail","Debe agregar los productos", "info");
                //alert('Debe agregar los productos!!');
            }

        $("#btPolicyRoles").show();
        $("#btPolicyRoles").prop("disabled", false);
        }
</script>
