@model ERPMVC.Models.Employees

<script>
    function GetEmpId() {
        return { IdEmpleado: $("#IdEmpleado").val() }
    }
</script>

<div class="card">
    <div class="card-header">
        <h3 class="my-0 text-white">Detalles de Empleados</h3>
    </div>
    <div class="card-body">
        <div class="panel-group">
            <!-- Detalles -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 mt-4">
                            <img class="img-thumbnail pull-right" src="~/images/emp/@Model.Foto" alt="imagenUsuario" style="width:128px;height:128px;" />
                        </div>
                        <div class="col-md-6 mt-3">
                            <input style="display: none" id="IdEmpleado" value="@Model.IdEmpleado" />
                            <h4>@Model.NombreEmpleado</h4>
                            @*<h6>@Model.NombrePuesto</h6>
                            <small><i class="fa fa-building"></i>  Departamento |   @Model.NombreDepartamento</small><br />
                            <small><i class="fa fa-map-marker-alt"></i>  Sucursal |   @Model.NombreSucursal</small><br />*@
                            <small><i class="fa fa-calendar-check"></i>  Empleado desde @Convert.ToDateTime(Model.FechaIngreso).ToString("dd/MMM/yyyy")</small><br />

                        </div>
                        <div class="col-md-3 mt-3">
                            <a class="k-button pull-right mr-3" href="javascript:history.back();">Regresar</a>
                        </div>
                    </div>
                    <!--  -->
                    <hr class="mx-3" />
                    <div class="row mx-3">
                        <div class="col-md-6">
                            <p class="text-uppercase">Contacto</p>
                            <hr />
                            <p><i class="fa fa-envelope"></i>  Correo: @Model.Correo</p>
                            <p><i class="fa fa-phone"></i>  Teléfono: @Model.Telefono</p>
                            <p><i class="fa fa-envelope"></i>  Extensión: @Model.Extension</p>
                            <p><i class="fa fa-user-alt"></i>  Usuario: @Model.ApplicationUserId</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-uppercase">Información Adicional</p>
                            <hr />
                            <p><i class="fa fa-birthday-cake"></i>  Cumpleaños: @Convert.ToDateTime(Model.FechaNacimiento).ToString("dd/MMMM")</p>
                            @*<p><i class="fa fa-map-marked-alt"></i>  Dirección: @Model.Direccion , @Model.NombreCiudad</p>*@
                            <p><i class="fa fa-sticky-note"></i>  Observaciones: @Model.Notas</p>
                        </div>
                    </div>
                    <hr class="mx-3" />
                </div>
            </div>
            <!-- Relaciones -->
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.Kendo().TabStrip()
                        .Name("tabDetalleEmpleado")
                        .Items(tabstrip =>
                        {
                            tabstrip.Add().Text("Horas Trabajadas").LoadContentFrom("Index", "CustomerProduct")
                            .HtmlAttributes(new { style = "width: auto;" });

                            tabstrip.Add().Text("Ausencias").LoadContentFrom(@Url.Action("Vacaciones", "Employees"))
                            .HtmlAttributes(new { style = "width: auto;" });

                            tabstrip.Add().Text("Incapacidades").LoadContentFrom(@Url.Action("Incapacidades", "Employees"))
                            .HtmlAttributes(new { style = "width: auto;" });

                            tabstrip.Add().Text("Entrenamientos").LoadContentFrom(@Url.Action("Incapacidades", "Employees"))
                            .HtmlAttributes(new { style = "width: auto;" });

                        })
                        .SelectedIndex(0)
                    )
                </div>

            </div>
            <!-- Historial -->
            <div class="panel panel-default">
                <div class="panel-heading"> <h4 class="panel-title">Historial</h4> </div>
                <div class="panel-body">
                    Creado: @Model.FechaCreacion , @Model.Usuariocreacion
                    Última Modificación: @Model.FechaModificacion , @Model.Usuariomodificacion
                </div>
            </div>

        </div>
    </div>
</div>