@model ERPMVC.Models.Payroll

<script>
    function GetPlanillaId() {
        return { IdPlanilla: $("#planillaId").val() }
    }
</script>

<div class="card">
    <div class="card-header">
        <h3 class="my-0 text-white">Detalles de Planilla</h3>
    </div>
    <div class="card-body">
        <div class="panel-group">
            <!-- Detalles -->
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-6 mt-3">
                            <input style="display: none" id="planillaId" value="@Model.IdPlanilla" />
                            <h4>Nombre de Planilla</h4>
                            @Model.NombrePlanilla
                        </div>
                        <div class="col-3 mt-3">
                            <p class="text-right">
                                <h4>Estado</h4>
                                @Model.Estado
                            </p>
                        </div>
                        <div class="col-md-3 mt-3">
                            <a class="k-button pull-right mr-3" href="javascript:history.back();">Regresar</a>
                        </div>
                    </div>
                    <hr class="mx-3" />
                </div>
            </div>
            <!-- Relaciones -->
            <div class="panel">
                @(Html.Kendo().TabStrip()
                .Name("tabDetallePlanilla")
                .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Listado Empleados").LoadContentFrom(@Url.Action("PayrollEmployee", "Payroll"))
                    .HtmlAttributes(new { style = "width: auto;" });

                    tabstrip.Add().Text("Formulas Asociadas").LoadContentFrom(@Url.Action("SalesOrderCustomer", "Customer"))
                    .HtmlAttributes(new { style = "width: auto;" });
                    
                })
                .SelectedIndex(0)
                )
            </div>
            <!-- Historial -->
            <div class="panel panel-default">
                <div class="panel-heading"> <h4 class="panel-title">Historial</h4> </div>
                <div class="panel-body">
                    Creado: @Model.FechaCreacion , @Model.UsuarioCreacion
                    Última Modificación: @Model.FechaModificacion , @Model.UsuarioModificacion
                </div>
            </div>

        </div>
    </div>
</div>
