@model ERPMVC.Models.CustomerArea

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomerArea() {
        $('#myModalCustomerArea').find(':input').not(':submit').val('0');
        // $('#myModalCustomerArea').find(':select').not(':submit').val('0');
        var customerarea = $("#CustomerAreaProduct").data("kendoMultiSelect");
        customerarea.value("");
        customerarea.trigger("change");
        $("#BranchId").data("kendoDropDownList").value(0);
        $("#TypeId").data("kendoDropDownList").value(0);
        $("#CustomerId").data("kendoDropDownList").value(0);

        RefreshGridCustomerArea();
        $("#myModalCustomerArea").modal('hide');
    }

    function RefreshGridCustomerArea() {
        var grid = $("#gridCustomerArea").getKendoGrid();
        grid.dataSource.read();
    }
</script>


<div id="myModalCustomerArea" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCustomerArea();">&times;</button>
                <h4 class="modal-title">Información Area usadas por cliente</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmCustomerArea" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="CustomerAreaId" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="CustomerAreaId"
                                                                          format="n"
                                                                          enable="false"
                                                                          min="0"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.CustomerAreaId"></kendo-numerictextbox>

                                                    <span asp-validation-for="CustomerAreaId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                 
                                                    <label asp-for="CustomerId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        onchange="CustomerArea()"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        var hcustom = 0;
                                                        function GetProductTypeIdS() {

                                                            return {
                                                                'CustomerId': hcustom,
                                                            }
                                                        }

                                                        function seleccionar() {
                                                            CustomerAreaProductvalues = $("#listaproductos").val();
                                                            var arreglo = CustomerAreaProductvalues.split(',');
                                                            if (arreglo.length == 0) {
                                                                arreglo.push(CustomerAreaProductvalues);
                                                               // console.log('length 0');
                                                            }

                                                            $("#CustomerAreaProduct").getKendoMultiSelect().value(arreglo);

                                                        }
                                                    </script>
                                                    <label asp-for="CustomerAreaProduct" class="control-label" style="width:100%"></label>                                                 
                                                    <kendo-multiselect id="CustomerAreaProduct" name="CustomerAreaProduct" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                       for="Productos"                 
                                                                       option-label="Seleccione el/los Producto(s)"
                                                                       datatextfield="ProductName"
                                                                       datavaluefield="SubproductId"
                                                                            on-data-bound="seleccionar"
                                                                       required
                                                                       style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductoByTipoByCustomer", "SubProduct")" data="GetProductTypeIdS" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-multiselect>
                                                    <span asp-validation-for="CustomerAreaProduct" class="text-danger"></span>
                                                    <input type="hidden" asp-for="listaproductos" id="listaproductos" />
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse() {
                                                            //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                            //WarehouseId.dataSource.read();
                                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                            //var dataItem = e.dataItem;
                                                           // $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WareHouseId").data("kendoDropDownList").dataSource.read();

                                                        }


                                                    </script>

                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                      
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <script>
                                                function GrupoConfiguracionTipo() {
                                                    return { Id: 2 };
                                                }
                                            </script>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TypeId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="TypeId"
                                                                        for="TypeId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el tipo"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionTipo" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="TypeId" class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function GetBranchId() {
                                                            //return { 'BranchId': $("#warehousesetid").val() }
                                                            return { 'BranchId': $("#BranchId").val() }
                                                        }



                                                    </script>
                                                    <label asp-for="WareHouseId" class="control-label"></label>
                                                    <kendo-dropdownlist name="WareHouseId" for="WareHouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Bodega"
                                                                        cascade-from="BranchId"
                                                                        required
                                                                        auto-bind="false"
                                                                        datatextfield="WarehouseName"
                                                                        datavaluefield="WarehouseId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Warehouse")" data="GetBranchId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WareHouseId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function AreaChange() {
                                                            if ($("#UnitOfMeasureId").data("kendoDropDownList").text() == "M2") {
                                                                $("#Alto").data("kendoNumericTextBox").wrapper.hide();
                                                                $("#Ancho").data("kendoNumericTextBox").wrapper.show();
                                                                $("#Largo").data("kendoNumericTextBox").wrapper.show();
                                                                $("#lblAlto").hide();
                                                                $("#Alto").data("kendoNumericTextBox").value("1");
                                                                $("#lblAncho").show();
                                                                $("#lblLargo").show();
                                                            }
                                                            else if ($("#UnitOfMeasureId").data("kendoDropDownList").text() == "P3") {
                                                                $("#Alto").data("kendoNumericTextBox").wrapper.show();
                                                                $("#Alto").data("kendoNumericTextBox").value("0");
                                                                $("#lblAlto").show();
                                                                $("#lblAncho").show();
                                                                $("#lblLargo").show();
                                                            }
                                                            else {
                                                                $("#Alto").data("kendoNumericTextBox").wrapper.hide();
                                                                $("#Ancho").data("kendoNumericTextBox").wrapper.hide();
                                                                $("#Largo").data("kendoNumericTextBox").wrapper.hide();
                                                                $("#lblAlto").hide();
                                                                $("#lblAncho").hide();
                                                                $("#lblLargo").hide();
                                                            }

                                                            CalcularArea();
                                                        }
                                                    </script>
                                                    <label asp-for="UnitOfMeasureId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        id="UnitOfMeasureId"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        for="UnitOfMeasureId"
                                                                        onchange="AreaChange();"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                                </div>
                                            </div>





                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Ancho" id="lblAncho" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Ancho"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          onchange="CalcularArea();"
                                                                          style="width:100%"
                                                                          value="Model.Ancho"></kendo-numerictextbox>
                                                    <span asp-validation-for="Ancho" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <script>
                                                function CalcularArea() {
                                                    var UsedArea = $("#Ancho").val() * $("#Alto").val() * $("#Largo").val();
                                                    var numeric = $("#UsedArea").data("kendoNumericTextBox");
                                                    numeric.value(UsedArea);
                                                    numeric.trigger('change');
                                                    //$("#UsedArea").val(UsedArea);
                                                }
                                            </script>



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Largo" id="lblLargo" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Largo"
                                                                          format="n2"
                                                                          onchange="CalcularArea();"
                                                                          min="0"
                                                                          step="1"
                                                                          style="width:100%"
                                                                          value="Model.Largo"></kendo-numerictextbox>
                                                    <span asp-validation-for="Largo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Alto" id="lblAlto" class="  control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="Alto"
                                                                      format="n2"
                                                                      onchange="CalcularArea();"
                                                                      min="0"
                                                                      step="1"
                                                                      style="width:100%"
                                                                      value="Model.Alto"></kendo-numerictextbox>
                                                <span asp-validation-for="Alto" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UsedArea" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="UsedArea"
                                                                          format="n2"
                                                                          disabled
                                                                          required
                                                                          min="0"
                                                                          step="1"
                                                                          style="width:100%"
                                                                          value="Model.UsedArea"></kendo-numerictextbox>
                                                    <span asp-validation-for="UsedArea" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                    </form>

                                    <div class="row">

                                        <button id="btnSaveCustomerArea" type="submit" class="form-control btn-miboton" onclick="SaveCustomerArea(this);">Guardar</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveCustomerArea(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveCustomerArea").hide();
        $("#btnSaveCustomerArea").prop("disabled", true);

        //var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        var dataObject = {
            'CustomerAreaId': $("#CustomerAreaId").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").data("kendoDropDownList").value(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
           //  'ProductId': $("#ProductId").val(),
           // 'ProductName': $("#ProductId").data("kendoDropDownList").text(),
            'BranchId': $("#BranchId").val(),
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'TypeId': $("#TypeId").val(),
            'TypeName': $("#TypeId").data("kendoDropDownList").text(),
            'WareHouseId': $("#WareHouseId").val(),
            'WareHouseName': $("#WareHouseId").data("kendoDropDownList").text(),
            'Ancho': $("#Ancho").val(),
            'Alto': $("#Alto").val(),
            'Largo': $("#Largo").val(),
            'UsedArea': $("#UsedArea").val() ,
            'Productos':  $("#CustomerAreaProduct").val()
        };

        var validator = $("#frmCustomerArea").data("kendoValidator");
        //var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

       // if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveCustomerArea", "CustomerArea")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {

                        $.toast({
                            heading: 'Satisfactorio',
                            text: '<br/><br/>Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 4000,
                            stack: 6
                        });

                        RefreshGridEstibas();
                        $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveCustomerArea").show();
                        $("#btnSaveCustomerArea").prop("disabled", false);
                        notification.show({
                            title: "Validación",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                notification.show({
                    title: "Validación",
                    message: "Datos incorrectos en el formulario"
                }, "error");

                $("#btnSaveCustomerArea").show();
                $("#btnSaveCustomerArea").prop("disabled", false);

            }
        //}
        //else {
        //    $("#btnSaveControlEstiba").show();
        //    $("#btnSaveControlEstiba").prop("disabled", false);
        //    notification.show({
        //        title: "Validacion",
        //        message: "Debe agregar los productos!"
        //    }, "error");

       // }



    }
</script>