@model ERPMVC.DTO.GoodsReceivedDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                {"required","Valor requerido" }
            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    var hcustom = 0;
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "UnitOfMeasureId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "WeightBallot" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "ExitTicket" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "QuantitySacos" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closesGoodsReceived() {
        $("#myModalGoodsReceived").modal('hide');
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }


</script>


<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">Transferencia De Inventario (Entradas)</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12" align="right">
            @*<button class="btn btn-default" onclick="ImprimirGoodsReceived(null,'@Model.GoodsReceivedId')"><i class="fa fa-print"></i></button>
            <button class="btn btn-default" onclick="ImprimirBoletaDeSalida(null,'@Model.ExitTicket')"><i class="mdi mdi-printer"></i> Boleta Entrada </button>*@
            <button type="button" id="btnGuardar" class="btn btn-default" onclick="SaveCotizacion();">Guardar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Recibir</button>
        </div>
        @*@if (!Convert.ToBoolean(Model.editar))
        {
            <div class="box demo-description wide">
                <div class="row">
                    <h4>Enviar a:</h4>
                    <kendo-combobox name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                    placeholder="Select Estado"
                                    datatextfield="NombreEstado"
                                    datavaluefield="IdEstado"
                                    required
                                    style="width: 100%;">
                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                            <transport>
                                <read url="@Url.Action("GetEnviosCotizacion", "Estados")" />
                            </transport>
                        </datasource>
                    </kendo-combobox>
                </div>
                <div class="row">
                    <button id="btnEnviarA" type="submit" class="form-control btn-miboton" onclick="EnviarCotizacionA(this);">Enviar</button>
                </div>
                <br />
            </div>
        }*@


        <div class="row" id="validation">
            <div class="col-lg-12">
                <div class="card">


                    <div class="card-body">
                        <form id="frmGoodsReceived" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              method="post" class="validation-wizard wizard-circle">
                            <div class="form-body">
                                <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />
                                <hr>
                                <div class="row" hidden>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="GoodsReceivedId" class="control-label" style="width: 100%;"></label>
                                            <input  value="0" type="text" id="GoodsReceivedId" required class="form-control" style="min-width: 100%;" asp-for="GoodsReceivedId" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            @*<label asp-for="CustomerId" class="control-label"></label>
                                            <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione el cliente"
                                                                datatextfield="CustomerName"
                                                                datavaluefield="CustomerId"
                                                                class="form-control-line"
                                                                onchange="SetCustomerName();"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                    <transport>
                                                        <read url="@Url.Action("GetCustomer", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                            <label asp-for="CustomerId" class="control-label">Cliente</label>
                                            <input type="text" id="CustomerId" required class="form-control" style="min-width: 100%;" asp-for="CustomerId" value="1" />
                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label">País</label>
                                            <input type="text" id="CountryId" required class="form-control" style="min-width: 100%;" asp-for="CountryId" />
                                            @*<kendo-dropdownlist name="CountryId"
                            for="@Model.CountryId"
                            filter="Kendo.Mvc.UI.FilterType.Contains"
                            option-label="Seleccionar Pais"
                            datatextfield="CountryName"
                            required
                            datavaluefield="CountryId"
                            style="width: 100%;" >
            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                <transport>
                    <read url="@Url.Action("Get", "Country")" />
                </transport>
            </datasource>
        </kendo-dropdownlist>
        <span asp-validation-for="CountryId" class="text-danger"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="BranchId" class="control-label">Sucursal</label>
                                            <kendo-dropdownlist name="IdBranch"
                                                                for="@Model.BranchId"
                                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccionar Sucursal"
                                                                datatextfield="BranchName"
                                                                datavaluefield="BranchId"
                                                                required
                                                                style="width: 100%;" >
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetBranch", "Branch")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="BranchId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label asp-for="WarehouseId" class="control-label">Bodega</label>
                                            <kendo-dropdownlist name="IdBranch"
                                                                for="@Model.WarehouseId"
                                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccionar Bodega"
                                                                datatextfield="WarehouseName"
                                                                datavaluefield="WarehouseId"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                    <transport>
                                                        <read url="@Url.Action("Get", "Warehouse")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="WarehouseId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                            <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                for="ProductId"
                                                                option-label="Seleccione el Producto"
                                                                datatextfield="ProductName"
                                                                datavaluefield="ProductId"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetProduct", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="OrderDate" class=" control-label" style="width:100%">Fecha Orden</label>
                                            <kendo-datetimepicker name="OrderDate" style="width: 100%;"
                                                                  format="dd/MM/yyyy"
                                                                  data-val-required="La fecha es requerida"
                                                                  value="Model.OrderDate" />
                                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="DocumentDate" class=" control-label" style="width:100%">Fecha Documento</label>
                                            <kendo-datetimepicker name="DocumentDate" style="width: 100%;"
                                                                  format="dd/MM/yyyy"
                                                                  data-val-required="La fecha es requerida"
                                                                  value="Model.DocumentDate" />
                                            <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ExpirationDate" class=" control-label" style="width:100%">Fecha vencimiento</label>
                                            <kendo-datetimepicker name="ExpirationDate" style="width: 100%;"
                                                                  format="dd/MM/yyyy"
                                                                  data-val-required="La fecha es requerida"
                                                                  value="Model.ExpirationDate" />
                                            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label" style="width: 100%;">Recibimos De</label>
                                            <input type="text" id="Name" required class="form-control" style="min-width: 100%;" asp-for="Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Reference" class="control-label" style="width: 100%;">Referencia</label>
                                            <input type="text" id="Reference" required class="form-control" style="min-width: 100%;" asp-for="Reference" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ExitTicket" class="control-label" style="width: 100%;">Boleta de Salida</label>
                                            <input type="text" id="ExitTicket" required class="form-control" style="min-width: 100%;" asp-for="ExitTicket" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Estado" class="control-label"></label>
                                            <kendo-dropdownlist name="IdEstado"
                                                                option-label="Seleccione un Estado"
                                                                for="@Model.IdEstado"
                                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                datatextfield="NombreEstado"
                                                                required data-required-msg="El Estado es Requerido."
                                                                datavaluefield="IdEstado"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="IdEstado" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label">País</label>
                                            <input type="text" disabled id="CountryId" value="Honduras" class="form-control" style="min-width: 100%;" asp-for="CountryId" />
                                            @*<kendo-dropdownlist name="CountryId"
                            for="@Model.CountryId"
                            filter="Kendo.Mvc.UI.FilterType.Contains"
                            option-label="Seleccionar Pais"
                            datatextfield="CountryName"
                            required
                            datavaluefield="CountryId"
                            style="width: 100%;">
            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                <transport>
                    <read url="@Url.Action("Get", "Country")" />
                </transport>
            </datasource>
        </kendo-dropdownlist>
        <span asp-validation-for="CountryId" class="text-danger"></span>*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="WeightBallot" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="WeightBallot" required class="form-control" style="min-width: 100%;" asp-for="WeightBallot" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PesoBruto" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="PesoBruto" required class="form-control" style="min-width: 100%;" asp-for="PesoBruto" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="TaraTransporte" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="TaraTransporte" required class="form-control" style="min-width: 100%;" asp-for="TaraTransporte" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="TaraCamion" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="TaraCamion" required class="form-control" style="min-width: 100%;" asp-for="TaraCamion" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PesoNeto" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="PesoNeto" required class="form-control" style="min-width: 100%;" asp-for="PesoNeto" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="TaraUnidadMedida" class="control-label" style="width: 100%;"></label>
                                            <input type="number" id="TaraUnidadMedida" required class="form-control" style="min-width: 100%;" asp-for="TaraUnidadMedida" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="PesoNeto2" class="control-label" style="width: 100%;">Peso Neto 2</label>
                                            <input type="number" id="PesoNeto2" required class="form-control" style="min-width: 100%;" asp-for="PesoNeto2" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Comments" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Comments" required class="form-control" style="min-width: 100%;" asp-for="Comments" />
                                        </div>
                                    </div>
                                    @*<div class="col-md-2">

            <div class="form-group">
                <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                <script>
                    function setsubproductname(e) {
                        // console.log(e);
                        var dataItem = e.dataItem;
                        if (dataItem != null)
                            $("#subproductname").val(dataItem.ProductName);
                    }

                    var hcustom = 0;
                    function GetProductTypeIdS() {
                        debugger;
                        // console.log($("#hcustomerid").val());
                        return {
                            'CustomerId': hcustom,
                            // 'CustomerId': $("#CustomerId").val(),
                            // 'ProductTypeId': 2

                        }
                    }

                </script>

                <input type="hidden" id="subproductname" />
                <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                    option-label="Seleccione el producto del cleinte"
                                    for="SubProductId"
                                    datatextfield="ProductName"
                                    datavaluefield="SubproductId"
                                    auto-bind="false"
                                    required
                                    style="width: 100%;">
                    <datasource type="DataSourceTagHelperType.WebApi" page-size="20000">
                        <transport>
                            <read url="@Url.Action("GetSubProductoByTipoByCustomer", "SubProduct")" data="GetProductTypeIdS" />
                        </transport>
                    </datasource>

                </kendo-dropdownlist>
                <span asp-validation-for="SubProductId" class="text-danger"></span>
            </div>
        </div>*@


                                    <div class="col-md-4">
                                        @*<div class="form-group">
                <script>
                        function GetBoletaPeso() {

                            var notification = $("#notification").data("kendoNotification");
                            var dataObject = { 'clave_e': $("#WeightBallot").val()};
                            $.ajax({
                                url: '@Url.Action("GetBoleto_EntById", "Boleto_Ent")',
                                method: 'GET',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: dataObject,
                                success: function (result) {

                                    var resultados = result;
                                    var tarapolietileno = ($("#TotalSacosPolietileno").val() * 0.5) / 100;
                                    var tarayute = ($("#TotalSacosYute").val() * 1) / 100;
                                    var ts = tarapolietileno + tarayute;
                                 //   setearvalor("Tara", ts);

                                    var pesobruto = (result.Boleto_Sal.peso_n / 100);
                                  //  setearvalor("PesoBruto", pesobruto);
                                   // setearvalor("PesoNeto", pesobruto - ts);



                                    if (result.clave_e == 0) {

                                        var dataObject2 = { 'id': $("#WeightBallot").val() };

                                        $.get(urlbase + '/' + $("#WeightBallot").val(), function (responseText) {
                                            //  alert(responseText);
                                            resultados = responseText;
                                            $.ajax({
                                                    url: '@Url.Action("SaveBoleto_Ent", "Boleto_Ent")',
                                                    type: 'POST',
                                                    method: 'POST',
                                                    dataType: 'json',
                                                    // contentType: 'application/json',
                                                    data: JSON.stringify(resultados),
                                                    async: false,
                                                    success: function (json) {
                                                        //  console.log(json);
                                                        //resultados = json;

                                                    },
                                                    error: function (parsedjson, textStatus, errorThrown) {

                                                        $('body').append(
                                                            "parsedJson status: " + parsedjson.status + '</br>' +
                                                            "errorStatus: " + textStatus + '</br>' +
                                                            "errorThrown: " + errorThrown);

                                                    }
                                                });
                                        });

                                    }


                                    $("#Name").val(resultados.conductor);
                                    $("#Placa").val(resultados.placas);

                                    //console.log(resultados.Boleto_Sal.peso_s);
                                    if (resultados.Boleto_Sal.peso_s > resultados.peso_e) {

                                        notification.show({
                                            title: "Validación",
                                            message: "La boleta de peso es una salida de mercancía"
                                        }, "error");

                                        return false;
                                    }



                                },
                                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                                  }
                             });
                        }
                </script>
                <label asp-for="WeightBallot" class="control-label" style="width:100%"></label>
                <kendo-numerictextbox name="WeightBallot"
                                      format="n"
                                      required
                                      min="0"
                                      onchange="return GetBoletaPeso();"
                                      spinners="false"
                                      max="99999999"
                                      step="1"
                                      style="width: 100%;"
                                      value="Model.WeightBallot"></kendo-numerictextbox>
                <span asp-validation-for="WeightBallot" class="text-danger"></span>
            </div>*@

                                    </div>

                                </div>


                                <div class="row">
                                    @*<div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CurrencyId" class="control-label"></label>
                            <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                option-label="Seleccione la moneda"
                                                required
                                                datatextfield="CurrencyName"
                                                datavaluefield="CurrencyId"
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetCurrency", "Currency")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="CurrencyId" class="text-danger"></span>
                        </div>
                    </div>*@
                                </div>


                                <div class="row">
                                    @*<div class="col-md-2">
                        <div class="form-group">
                            <script>

                            </script>
                            <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                            <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                for="ProductId"
                                                option-label="Seleccione el Producto"
                                                datatextfield="ProductName"
                                                datavaluefield="ProductId"
                                                required
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetProduct", "Common")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                    </div>*@

                                    @*<div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Name" readonly required class="form-control" style="min-width:100%;" asp-for="Name" />
                        </div>
                    </div>*@

                                    @*<div class="col-md-3">
                        <script>
                                  function valueMapperWB(options) {
                                      $.ajax({
                                          url: "@Url.Action("Orders_ValueMapper", "Boleto_Ent")",
                                          data: convertValuesWB(options.value),
                                          success: function (data) {
                                              options.success(data);
                                          }
                                      });
                                  }

                                  function convertValuesWB(value) {
                                      var data = {};

                                      value = $.isArray(value) ? value : [value];

                                      for (var idx = 0; idx < value.length; idx++) {
                                          data["values[" + idx + "]"] = value[idx];
                                      }

                                      return data;
                                }

                                function CallPesaje() {
                                    $("#WeightBallot").data("kendoNumericTextBox").value($("#WeightBallotddl").val());
                                    $("#WeightBallot").data("kendoNumericTextBox").trigger('change');
                                    GetBoletaPeso();
                                }
                        </script>
                        <label asp-for="WeightBallot" class="control-label" style="width: 100%;"></label>
                        @(Html.Kendo().DropDownList()
                                                   .Name("WeightBallotddl")
                                                   .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                   .OptionLabel("Buscar")
                                                   .DataTextField("observa_e")
                                                   .DataValueField("clave_e")
                                                   .HtmlAttributes(new { style = "width:100%" })
                                                   .Height(290)
                                                   .Events(e =>
                                                   {
                                                       e.Change("CallPesaje");
                                                                                       // e.Filtering("applyFilterCustomer");
                                                                                   })
                                                   .AutoBind(true)
                                                   .DataSource(source =>
                                                   {
                                                       source.Ajax()
                                                       .PageSize(80)

                                                       .Read("Virtualization_Read", "Boleto_Ent");
                                                   })
                                                   .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapperWB"))
                        )

                        <span asp-validation-for="SubProductId" class="text-danger"></span>
                    </div>*@



                                    @*<div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Placa" required class="form-control" readonly style="min-width:100%;" asp-for="Placa" />
                        </div>
                    </div>*@


                                    @*<div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                        </div>
                    </div>*@

                                    @*<div class="col-md-2">
                        <label asp-for="CountryId" class="control-label" style="width: 100%;"></label>
                        <kendo-dropdownlist name="CountryId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                            id="CountryId"
                                            option-label="Seleccione el país del producto"
                                            for="CountryId"
                                            datatextfield="SortName"
                                            datavaluefield="Id"
                                            auto-bind="true"
                                            required
                                            style="width: 100%;">
                            <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true" page-size="90000">
                                <transport>
                                    <read url="@Url.Action("Get", "Country")" />
                                </transport>
                            </datasource>

                        </kendo-dropdownlist>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>*@

                                    @*<div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="ExitTicket" class="control-label" style="width:100%"></label>
                            <kendo-numerictextbox name="ExitTicket"
                                                  format="n"
                                                  min="0"
                                                  enable="false"
                                                  max="99999999"
                                                  step="1"
                                                  style="width: 100%;"
                                                  value="Model.ExitTicket"></kendo-numerictextbox>
                            <span asp-validation-for="ExitTicket" class="text-danger"></span>
                        </div>

                    </div>*@
                                </div>


                            </div>

                        </form>


                        <div id="salesorderdetail">
                            @await Html.PartialAsync("pvwGoodsReceivedDetail", Model)
                        </div>

                        <div id="GoodsReceivedLineMant">
                            @await Html.PartialAsync("pvwGoodsReceivedDetailMant", new ERPMVC.Models.GoodsReceivedLine { GoodsReceiveLinedId = 0, GoodsReceivedId = Model.GoodsReceivedId })
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Marca" class="control-label" style="width: 100%;">Notas</label>
                                <textarea name="textarea" class="form-control" style="min-width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function RefreshGridGoodsReceived() {
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }


   


    function SaveCotizacion(e) {
       alert('ENTRE')
       var displayedData = $("#gridGoodsReceivedDetail").data().kendoGrid.dataSource.data();
       debugger;
       var dataObject = {
                                'GoodsReceivedId': $("#GoodsReceivedId").val() === "" ? "0" : $("#GoodsReceivedId").val(),
                                'CustomerId': 1,
                                'CustomerName': '',
                                'BranchId': $("#BranchId").val(),
                                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                                'WeightBallot': $("#WeightBallot").val(),
                                'CurrencyId': 2,
                                'CurrencyName': '',
                                 //'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
                                'Placa': $("#Placa").val(),
                                'Marca': $("#Marca").val(),
                                'ProductId': $("#ProductId").val(),
                                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                                'SubProductId':1,
                                'OrderDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                                'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                                'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                                'Name': $("#Name").val(),
                                'Reference': $("#Reference").val(),
                                'ExitTicket': $("#ExitTicket").val(),
                                'Comments': $("#Comments").val(),
                                'CountryId': 2,
                                'CountryName': 'Honduras',
                                'IdEstado': $("#IdEstado").val(),
                                'Estado': 'Activo',
                                'PesoBruto': $("#PesoBruto").val(),
                                'PesoNeto': $("#PesoNeto").val(),
                                'PesoNeto2': $("#PesoNeto2").val(),
                                '_GoodsReceivedLine': displayedData,
                                'TaraCamion': $("#TaraCamion").val(),
                                '_GoodsReceived': displayedData,
                             };
                            console.log("Campos", dataObject);
                                $.ajax({
                                    url: '@Url.Action("SaveGoodsReceived", "GoodsReceived")',
                                    method: 'POST',
                                    datatype: "json",
                                    contentType: 'application/json',
                                    async: false,
                                    data: JSON.stringify(dataObject),
                                    success: function (data) {
                                        $("#GoodsReceivedId").val(data.GoodsReceivedId);
                                        $.toast({
                                            heading: 'Satisfactorio',
                                            text: '<br/><br/>Datos guardados correctamente.',
                                            position: 'top-right',
                                            loaderBg: '#ff6849',
                                            icon: 'success',
                                            hideAfter: 3000,
                                            stack: 6
                                        });
                                    },
                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                        $("#btnGuardar").show();
                                        $("#btnGuardar").prop("disabled", false);
                                        swal("Error", "Ha ocurrido un error al guardar los cambios" + textStatus, "error");
                                    }
                                });
   }
</script>
