@model ERPMVC.DTO.AccountDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "AccountId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalAccounting" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Catálogo de Cuentas</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmAccounting" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveAccounting"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Catálogo de Cuentas</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountId" class=" control-label" style="width:100%">Identificador de Cuenta:</label>
                                                    <input type="text" asp-for="AccountId" name="AccountId" class="form-control" readonly="readonly" style="width:100%" />
                                                    <span asp-validation-for="AccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountName" class=" control-label" style="width:100%">Nombre de la Cuenta:</label>
                                                    <input type="text" asp-for="AccountName" name="AccountchName" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="AccountName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label asp-for="ParentAccountId" class=" control-label" style="width:100%">Padre de la cuenta:</label>
                                                <kendo-dropdownlist name="ParentAccountId"
                                                                    for="@Model.ParentAccountId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Cuenta Contable"
                                                                    datatextfield="AccountName"
                                                                    datavaluefield="AccountId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetAccount", "Accounting")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="HierarchyAccount" class="control-label" style="width: 100%;">Nivel de Cuenta:</label>
                                                    <input type="text" asp-for="HierarchyAccount" name="HierarchyAccount" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="HierarchyAccount" class="text-danger"></span>

                                                </div>


                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountCode" class="control-label" style="width: 100%;">Código de la Cuenta:</label>
                                                    <input type="text" asp-for="AccountCode" name="AccountCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="AccountCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CompanyInfoId" class="control-label" style="width: 100%;"></label>
                                                    <kendo-dropdownlist name="CompanyInfoId"
                                                                        for="@Model.CompanyInfoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Compañia"
                                                                        datatextfield="Company_Name"
                                                                        datavaluefield="CompanyInfoId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "CompanyInfo")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TypeAccountId" class="control-label" style="width: 100%;">Tipo de Cuenta</label>
                                                    <kendo-dropdownlist name="TypeAccountId"
                                                                        for="@Model.TypeAccountId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Tipo"
                                                                        datatextfield="TypeAccountName"
                                                                        datavaluefield="TypeAccountId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetTypeAccount", "TypeAccount")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BlockedInJournal" class=" control-label" style="width:100%"></label>
                                                    @*Html.Kendo().CheckBoxFor(m => m.)
        @(Html.Kendo().SwitchFor(m => m.BlockedInJournal)
                      .Name("BlockedInJournal")
               //.Events(ev => ev.Change("onChange"))
         ) *@
                                                    <input type="text" asp-for="BlockedInJournal" name="BlockedInJournal" class="form-control" autocomplete="off" style="width:100%" />

                                                    <span asp-validation-for="BlockedInJournal" class="text-danger k-invalid-msg" data-for="BlockedInJournal"></span>

                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IsCash" class="control-label" style="width: 100%;">Activa</label>
                                                    @*Html.Kendo().CheckBoxFor(m => m.IsCash)

         @(Html.Kendo().SwitchFor(m => m.IsCash)
                             .Name("IsCash")
              //.Events(ev => ev.Change("onChange"))
        ) *@
                                                    <input type="text" asp-for="IsCash" name="IsCash" class="form-control" autocomplete="off" style="width:100%" />

                                                    <span asp-validation-for="IsCash" class="text-danger k-invalid-msg" data-for="IsCash"></span>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%"></label>
                                                    <textarea asp-for="Description" name="Description" required class="form-control required " style="min-width: 100% !important;"></textarea>

                                                    @* <input type ="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%"/>*@
                                                    <span asp-validation-for="Description" class="text-danger"></span>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnAccounting" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionAccount").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveAccounting(e)
    {
        debugger;

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnAccounting").hide();
        $("#btnAccounting").prop("disabled", true);

        var displayedData = $("#gridNumeracionAccount").data().kendoGrid.dataSource.view();

        var dataObject = { 'AccountId': $("#AccountId").val()===""?"0":$("#AccountId").val(),
                           'AccountName': $("#AccountName").val(),
                           'Description': $("#Description").val(),
                           'ParentAccountId': $("#ParentAccountId").val(),
                           'AccountCode': $("#AccountCode").val(),
                            'IsCash': $("#IsCash").val(),
                            'BlockedInJournal': $("#BlockedInJournal")..val(),
                            'CompanyInfoId': $("#CompanyInfoId").val(),
                            'HierarchyAccount': $("#HierarchyAccount").val(),
                            'TypeAccountId': $("#TypeAccountId").val(),
                            'FechaCreacion': $("#FechaCreacion").val(),
                            'FechaModificacion':$("#FechaModificacion").val(),
                            'UsuarioCreacion':$("#UsuarioCreacion").val(),
                            'UsuarioModificacion':$("#UsuarioModificacion").val(),
                            '_Accounting': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmAccounting").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveAccounting", "Accounting")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalAccounting').modal('hide');

                            //ModalAccount
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            
                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnAccounting").show();
        $("#btnAccounting").prop("disabled", false);
    }
</script>