@model ERPMVC.Models.Contrato
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Consulta de Cuentas";
}
@{Layout = null;
    var messages = new Dictionary<string, string>() {
{"required","Valor requerido" }
};

}

<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">
            Consultas Generales De Cuentas
            <button id="btnConsultasGenerales" type="submit" class="fa fa-print" onclick="ConsultasGenerales()"></button>
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="row" hidden>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="ContratoId" class="control-label" style="width:100%">Id</label>
                                <input asp-for="ContratoId" class="form-control disabled" style="min-width: 100% !important;" disabled />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="CustomerId" class="control-label" style="width:100%">Cliente</label>
                            <div class="input-group">
                                <kendo-dropdownlist name="CustomerId" id="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    option-label="Seleccione el cliente"
                                                    datatextfield="CustomerName"
                                                    datavaluefield="CustomerId"
                                                    class="form-control-line"
                                                    onchange="ValidarCliente();"
                                                    required data-required-msg="El Cliente es Requerido."
                                                    style="width: 90%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                        <transport>
                                            <read url="@Url.Action("GetCustomerConcatenado", "Customer")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                @*<span class="input-group-btn">
                                    <button class="btn btn-info" id="btnCustomer" onclick="AddCustomer()" type="button"><span class="	glyphicon glyphicon-plus"></span> Añadir</button>
                                </span>*@

                            </div>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <button id="btnConsultasGenerales" type="submit" class="btn btn-success float-right" onclick="ConsultasGenerales()">Ver Historial</button>
                    </div>
                    <div id="NumBranch">
                        @await Html.PartialAsync("pvwConsultasGenerales_Contrato", new ERPMVC.Models.Contrato { ContratoId = 0 })
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SinFinaciar" class="control-label" style="width:100%"></label>
                                <kendo-numerictextbox name="SinFinaciar"
                                                      format="n2"
                                                      id="SinFinaciar"
                                                      spinners="false"
                                                      min="0"
                                                      required
                                                      disabled
                                                      step="1"
                                                      style="width:100%"
                                                      value="Model.SinFinaciar" />

                                <span asp-validation-for="SinFinaciar" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ValorContado" class="control-label" style="width:100%"></label>
                                <kendo-numerictextbox name="ValorContado"
                                                      format="n2"
                                                      id="ValorContado"
                                                      spinners="false"
                                                      min="0"
                                                      required
                                                      disabled
                                                      step="1"
                                                      style="width:100%"
                                                      value="Model.ValorContado" />

                                <span asp-validation-for="ValorContado" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TotalContrato" class="control-label" style="width:100%"></label>
                                <kendo-numerictextbox name="TotalContrato"
                                                      format="n2"
                                                      id="TotalContrato"
                                                      spinners="false"
                                                      min="0"
                                                      required
                                                      disabled
                                                      step="1"
                                                      style="width:100%"
                                                      value="Model.TotalContrato" />

                                <span asp-validation-for="TotalContrato" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SaldoCredito" class="control-label" style="width:100%"></label>
                                <kendo-numerictextbox name="SaldoCredito"
                                                      format="n2"
                                                      id="SaldoCredito"
                                                      spinners="false"
                                                      min="0"
                                                      required
                                                      disabled
                                                      step="1"
                                                      style="width:100%"
                                                      value="Model.SaldoCredito" />

                                <span asp-validation-for="SaldoCredito" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<a asp-action="Index" id="btncerrar" class="btn btn-default">Cerrar</a>*@
                        <button onclick="location.href='@Url.Action("Dashboard", "Home")';return false;" id="btncerrar" class="btn btn-secondary">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#CustomerId').data("kendoDropDownList").open();
    });
    
    function ConsultasGenerales() {
        RefreshCotizacionesDetail();
        CalcularTotalDocumento();
    }


    //agrega y refresca en el grid
    function RefreshCotizacionesDetail() {
        var grid = $("#gridContratoPendiente").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }

    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }

    function CalcularTotalDocumento() {
        debugger;
        var displayedData1 = $("#gridContratoPendiente").data("kendoGrid").dataSource.data();
        var displayedData = $("#gridContratoPendiente").data().kendoGrid.dataSource.view();
        var TotalContado = 0, TotalPagado = 0, TotalContratos = 0, TotalSaldos = 0
        var TotalSinFinaciar = 0, TotalValorContato = 0, TotalContrato = 0, TotalSaldoCredito = 0

        if (displayedData.length > 0) {
            $(displayedData[0].items).each(function (index, element) {
                var t = JSON.parse(JSON.stringify(element));

                TotalSinFinaciar = TotalSinFinaciar + t["SinFinaciar"];
                TotalValorContato = TotalValorContato + t["ValorContado"];
                TotalContrato = TotalContrato + t["TotalContrato"];
                TotalSaldoCredito = TotalSaldoCredito + t["SaldoCredito"];
            });
        }
        if (displayedData.length > 1) {

        }

        setearvalor('SinFinaciar', TotalSinFinaciar);
        setearvalor('ValorContado', TotalValorContato);
        setearvalor('TotalContrato', TotalContrato);
        setearvalor('SaldoCredito', TotalSaldoCredito);
    }

    function ValidarCliente() {
      debugger;
      var Id = $("#CustomerId").val();

        
      var dataObject = {
          CustomerId: Id
      };
      console.log("Id", Id);
        $.ajax({
            url: '@Url.Action("ValidarClienteListaNegra", "BlackListCustomers")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
            success: function (dataObject) {

                Id = dataObject.CustomerId;
                window.location.href = '@Url.Action("ValidarClienteListaNegra", "BlackListCustomers")?CustomerId=' + Id;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                swal(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }
</script>
