@model ERPMVC.Models.Customer

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Requerido" },
            {"required","Valor requerido" }
        };
}

<script>

    function GetCustomerId() {
        return { CustomerId: $("#CustomerId").val() }
    }
</script>

<div id="ModalCliente" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Cliente</h4>
                <button type="button" class="close" onclick="CerrarModal()" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form id="frmBranch" kendo-validator="true" kendo-messages="messages"
                      data-ajax="true"
                      data-ajax-method="post"
                      data-ajax-begin="SaveModalCustomer"
                      class="validation-wizard wizard-circle">
                    <div class="form-body">

                        <div class="row ">
                            <div class="form-group" hidden>
                                <label asp-for="CustomerId" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="CustomerId" class="form-control" style="min-width:100%;" asp-for="CustomerId" readonly />
                            </div>
                            <div class=" col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="Identidad" class="control-label" style="width: 100%;"></label>
                                    <input type="text" id="IdentidadC" value="1" class="form-control" style="min-width:100%;" asp-for="Identidad" />
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Identidad/RTN</label>
                                    <input asp-for="RTN" type="text" id="RTNC" maxlength="14" required data-required-msg="El RTN/Identidad es requerido." class="form-control" style="min-width:100%;" onKeyPress="return soloNumeros(event)" onchange="PrevenirCambios()" />
                                </div>
                            </div>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="IdEstado" class="control-label"></label>
                                    <kendo-dropdownlist name="IdEstadoCliente" style="width:100%;"
                                                        for="IdEstado"
                                                        id="IdEstadoCliente"
                                                        value="1"
                                                        @*option-label="Seleccionar el Estado" *@
                                                        required data-required-msg="El Estado es Requerido."
                                                        datatextfield="NombreEstado"
                                                        datavaluefield="IdEstado">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="CustomerType" class="control-label">Tipo de Cliente</label>
                                    <kendo-dropdownlist name="CityId"
                                                        for="@Model.CustomerTypeId"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        @*option-label="Seleccionar Tipo de Cliente" *@
                                                        required
                                                        value="1"
                                                        datatextfield="CustomerTypeName"
                                                        datavaluefield="CustomerTypeId"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("Get", "CustomerType")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="CustomerTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Nombre del Cliente</label>
                                    <input type="text" id="CustomerName" maxlength="50" required data-required-msg="El Nombre del cliente es requerido." class="form-control" style="min-width:100%;" asp-for="CustomerName" onchange="PrevenirCambios()" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Email" class="control-label" style="width: 100%;"></label>
                                <input type="email" id="Email" placeholder="nombre@ejemplo.com" maxlength="150" data-required-msg="El Correo es requerido." required data-email-msg="Formato del Correo no valido" class="form-control" style="min-width:100%;" asp-for="Email" onchange="PrevenirCambios()" />
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                                    <input type="text" asp-for="Phone" required data-required-msg="El Teléfono es requerido." name="Phone" class="form-control" style="width:100%" onKeyPress="return soloNumeros(event)" onchange="Completarphone()" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="StateId" class="control-label">Departamento</label>
                                    <kendo-dropdownlist name="StateId"
                                                        for="@Model.StateId"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Departamento"
                                                        datatextfield="Name"
                                                        datavaluefield="Id"
                                                        required
                                                        value="1"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("Get", "State")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="StateId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class=" col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="CityId" class="control-label">Ciudad</label>
                                    <kendo-dropdownlist name="CityId"
                                                        for="@Model.CityId"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Ciudad"
                                                        datatextfield="Name"
                                                        datavaluefield="Id"
                                                        required
                                                        value="2"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("Get", "City")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="CityId" class="text-danger"></span>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Direccion de casa</label>
                                    <textarea type="text" id="Address" required data-required-msg="La Dirección de casa es requerida." maxlength="200" class="form-control" style="min-width:100%;" asp-for="Address" onchange="PrevenirCambios()"></textarea>
                                </div>
                            </div>

                        </div>


                        <div class="row" hidden>
                            <div class=" col-md-8">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Direccion Trabajo</label>
                                    <textarea id="DireccionEnvio" required class="form-control" data-required-msg="La Direccion es Requerido." value="a" maxlength="200" style="min-width:100%;" asp-for="DireccionEnvio"></textarea>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label class=" control-label" style="width:100%">Telefono Trabajo</label>
                                    <input type="text" asp-for="WorkPhone" name="WorkPhone" value="1" required data-required-msg="El Telefono es Requerido." class="form-control" style="width:100%" onKeyPress="return soloNumeros(event)" />
                                    <span asp-validation-for="WorkPhone" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row" hidden>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="ContactPerson" class="control-label" style="width: 100%;"></label>
                                    <input type="text" id="ContactPerson" required data-required-msg="El Contacto es Requerido." value="a" maxlength="50" class="form-control" style="min-width:100%;" asp-for="ContactPerson" />
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Ingresos Mensuales</label>
                                    <input type="number" id="MontoIngresosAnuales" required class="form-control" value="1" style="min-width:100%;" asp-for="MontoIngresosAnuales" />
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group">
                                    <label class="control-label" style="width: 100%;">Ingresos Mensuales</label>
                                    <input type="number" id="MontoActivos" required class="form-control" value="1" style="min-width:100%;" asp-for="MontoActivos" />
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnBranch" class="btn btn-success" type="button" onclick="SaveModalCustomer()"> Guardar </button>
                        <button type="button" class="btn btn-default" name="close" onclick="CerrarModal()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function Completarphone(e) {
        var phone = $("#Phone").val()
        var telefono = phone.length
        if (telefono < 11 || phone.indexOf("_") > -1 == true) {
            alert('Por favor completar el campo teléfono')
            document.getElementById("btnBranch").disable = true;
        }
    }


    //if (cadena.indexOf("_") > -1 == true) {
    //    $("#telefono").show();
    //}
    //else {
    //    $("#telefono").hide();
    //}
    //maxlength = "11"

    var changes = false;

    function PrevenirCambios() {
        changes = true;
        //convertir a mayuscula la descripcion
        $("#CustomerName").change(function () {
            var str = $("#CustomerName").val();
            var res = str.toUpperCase();
            $("#CustomerName").val(res);
            debugger
        });
    }

    //cierra modal
    function CerrarModal() {
        if (changes) {
            swal({
                title: "Cerrar",
                text: "Los datos que aun no se han guardado del formulario se perderan ¿Desea Continuar? ",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar"
                //closeOnConfirm: false
            }, function () {
                $('#ModalCliente').modal('hide');
            });
        } else {
            $('#ModalCliente').modal('hide');
        }
    }

    $(document).ready(function () {
        $("#Phone").kendoMaskedTextBox({
            mask: "(000)0000-0000"
        });

    });


    function SaveModalCustomer() {
        debugger;
        var dataObject = {
            'CustomerId': $("#CustomerId").val() === "" ? "0" : $("#CustomerId").val(),
            'CustomerName': $("#CustomerName").val(),
            'RTN': $("#RTNC").val(),
            'CustomerTypeId': $("#CustomerTypeId").val(),
            'Address': $("#Address").val(),
            'City': $("#CityId").text(),
            'State': $("#StateId").text(),
            'ZipCode': $("#ZipCode").val(),
            'Phone': $("#Phone").val(),
            'WorkPhone': $("#WorkPhone").val(),
            //'Identidad': $("#Identidad").val(),
            'Identidad': $("#RTNC").val(),
            'CustomerTypeId': $("#CustomerTypeId").val(),
            'Email': $("#Email").val(),
            'ContactPerson': $("#ContactPerson").val(),
            'IdEstado': $("#IdEstadoCliente").val(),
            'Estado': $("#IdEstadoCliente").data("kendoDropDownList").text(),
            'GrupoEconomico': $("#GrupoEconomico").val(),
            'MontoActivos': $("#MontoActivos").val(),
            'MontoIngresosAnuales': $("#MontoIngresosAnuales").val(),
            'Proveedor1': $("#Proveedor1").val(),
            'Proveedor2': $("#Proveedor2").val(),
            'ClienteRecoger': $("#ClienteRecoger").is(':checked'),
            'EnviarlaMensajero': $("#EnviarlaMensajero").is(':checked'),
            'ConfirmacionCorreo': $("#ConfirmacionCorreo").is(':checked'),
            'DireccionEnvio': $("#DireccionEnvio").val(),
            'PerteneceEmpresa': $("#PerteneceEmpresa").val(),
            'CityId': $("#CityId").val(),
            'StateId': $("#StateId").val(),
        };
        console.log('Campos', dataObject)
        //var validator = $("#frmBranch").data("kendoValidator");
        //var status = $(".status");

        //if (validator.validate()) {
           $.ajax({
                url: '@Url.Action("SaveCustomer", "Customer")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    $("#CustomerId").val(data.CustomerId);
                    swal("Cliente", "Se han Guardado los cambios", "success");
                    $('#ModalCliente').modal('hide');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //console.log(textStatus + ": " + XMLHttpRequest.responseText);
                    swal("Error", "Ya existe un Cliente con ese RTN/Identidad" , "error");

                }
                });

       // }
        //else {
        //    status.text("Oops! Hay datos incorecctos en la data en el Formulario.")
        //        .removeClass("valid")
        //        .addClass("invalid");
        //}

      }
</script>
