@model ERPMVC.Models.CustomerContract

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomerContract() {
        $('#myModalCustomerContract').find(':input').not(':submit').val('0');
       // $('#myModalCustomerContract').find(':select').not(':submit').val('0');
        //$("#ProductId").data("kendoDropDownList").value(0);
        //$("#BranchId").data("kendoDropDownList").value(0);
        //$("#TypeId").data("kendoDropDownList").value(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);

        RefreshGridCustomerContract();
        $("#myModalCustomerContract").modal('hide');
    }

    function RefreshGridCustomerContract() {
        var grid = $("#gridCustomerContract").getKendoGrid();
        grid.dataSource.read();
    }
</script>


<div id="myModalCustomerContract" class="modal fade"  role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCustomerContract();">&times;</button>
                <h4 class="modal-title">Información de contrato</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmCustomerContract" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="CustomerContractId" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="CustomerContractId"
                                                                          format="n"
                                                                          enable="false"
                                                                          min="0"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.CustomerContractId"></kendo-numerictextbox>

                                                    <span asp-validation-for="CustomerContractId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="FechaContrato" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaContrato"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaContrato"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaContrato" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function CustomerContract() {

                                                            hcustom = $("#CustomerId").val();
                                                            $("#CustomerContractProduct").data("kendoMultiSelect").dataSource.read();

                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist for="@Model.CustomerId"
                                                                        id="CustomerIdCC"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Select CustomerId"
                                                                        enable="false"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        onchange="CustomerContract()"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RTNCustomerManager" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="RTNCustomerManager" asp-for="RTNCustomerManager" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="RTNCustomerManager" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerManager" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="CustomerManager" asp-for="CustomerManager" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="CustomerManager" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RTNMANAGER" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="RTNMANAGER" asp-for="RTNMANAGER" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="RTNMANAGER" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Manager" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Manager" asp-for="Manager" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Manager" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Reception" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Reception" asp-for="Reception" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Reception" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="UsedArea" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="UsedArea" asp-for="UsedArea" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="UsedArea" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="WareHouses" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="WareHouses" asp-for="WareHouses" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="WareHouses" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="StorageTime" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="StorageTime" asp-for="StorageTime" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="StorageTime" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ValueCD" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="ValueCD" readonly asp-for="ValueCD" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ValueCD" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ValueSecure" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="ValueSecure" readonly asp-for="ValueSecure" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ValueSecure" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ValueBascula" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="ValueBascula" readonly asp-for="ValueBascula" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ValueBascula" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BandaTransportadora" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="BandaTransportadora" readonly asp-for="BandaTransportadora" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="BandaTransportadora" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ExtraHours" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="ExtraHours" readonly asp-for="ExtraHours" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ExtraHours" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FoodPayment" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="FoodPayment" readonly asp-for="FoodPayment" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="FoodPayment" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="LatePayment" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="LatePayment" readonly asp-for="LatePayment" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="LatePayment" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Porcentaje1" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="Porcentaje1" readonly asp-for="Porcentaje1" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Porcentaje1" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Porcentaje2" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="Porcentaje2" readonly asp-for="Porcentaje2" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Porcentaje2" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Valor1" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="Valor1" readonly asp-for="Valor1" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Valor1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Valor2" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="Valor2" readonly asp-for="Valor2" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Valor2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="MontaCargas" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="MontaCargas" readonly asp-for="MontaCargas" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="MontaCargas" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="MulasHidraulicas" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="MulasHidraulicas" readonly asp-for="MulasHidraulicas" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="MulasHidraulicas" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label asp-for="Papeleria" class="  control-label" style="width:100%"></label>
                                                        <input type="number" id="Papeleria" readonly asp-for="Papeleria" class="form-control" style="min-width:100%" />
                                                        <span asp-validation-for="Papeleria" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Transport" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="Transport" readonly asp-for="Transport" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Transport" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Correo1" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Correo1"  required asp-for="Correo1" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Correo1" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Correo2" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Correo2"  required  asp-for="Correo2" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Correo2" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Correo3" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Correo3"  required asp-for="Correo3" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Correo3" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UnitOfMeasureIdContract" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="UnitOfMeasureId"
                                                                        id="UnitOfMeasureIdContract"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>

                                                    </script>
                                                    <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ProductId"
                                                                        option-label="Seleccione el Producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetProduct", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DelegateSalary" class="  control-label" style="width:100%"></label>
                                                    <input type="number" id="DelegateSalary" asp-for="DelegateSalary" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="DelegateSalary" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Mercancias" class="  control-label" style="width:100%"></label>
                                                    <input type="text" id="Mercancias" asp-for="Mercancias" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="Mercancias" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="CustomerConstitution" class="  control-label" style="width:100%"></label>
                                                    <textarea class="form-control" asp-for="CustomerConstitution" style="min-width:90%" rows="10"></textarea>
                                                    @*<input type="text" id="CorreoAS" asp-for="CustomerConstitution" class="form-control " style="min-width:100%" />*@
                                                    <span asp-validation-for="CustomerConstitution" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="WarehouseRequirements" class="  control-label" style="width:100%"></label>
                                                    <textarea class="form-control" asp-for="WarehouseRequirements" style="min-width:90%" rows="10"></textarea>

                                                    <span asp-validation-for="WarehouseRequirements" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Resolution" class="  control-label" style="width:100%"></label>
                                                    <textarea class="form-control" asp-for="Resolution" style="min-width:90%" rows="10"></textarea>

                                                    <span asp-validation-for="Resolution" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                    </form>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnSaveCustomerContract" type="submit" class="form-control btn-miboton" style="min-width:80%" onclick="SaveCustomerContract(this);">Guardar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveCustomerContract(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveCustomerContract").hide();
        $("#btnSaveCustomerContract").prop("disabled", true);

        //var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        var dataObject = {
            'CustomerContractId': $("#CustomerContractId").val(),
            'ProductId': $("#ProductId").val(),
            'ProductName': $("#ProductId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerIdCC").val(),
            'CustomerName': $("#CustomerIdCC").data("kendoDropDownList").text(),
            'CustomerManager': $("#CustomerManager").val(),
            'RTNCustomerManager': $("#RTNCustomerManager").val(),
            'CustomerConstitution': $("#CustomerConstitution").val(),
            'SalesOrderId': $("#SalesOrderId").val(),
            'Manager': $("#Manager").val(),
            'RTNMANAGER': $("#RTNMANAGER").val(),
            'StorageTime': $("#StorageTime").val(),
            'LatePayment': $("#LatePayment").val(),
            'UsedArea': $("#UsedArea").val(),
            'UnitOfMeasureId': $("#UnitOfMeasureIdContract").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureIdContract").data("kendoDropDownList").text(),
            'Reception': $("#Reception").val(),
            'Correo1': $("#Correo1").val(),
            'Correo2': $("#Correo2").val(),
            'Correo3': $("#Correo3").val(),          
            'BandaTransportadora': $("#BandaTransportadora").val(),
            'ExtraHours': $("#ExtraHours").val(),
            'FoodPayment': $("#FoodPayment").val(),
            'Transport': $("#Transport").val(),
            'ValueBascula': $("#ValueBascula").val(),
            'ValueCD': $("#ValueCD").val(),
            'ValueSecure': $("#ValueSecure").val(),
            'WareHouses': $("#WareHouses").val(),
            'Porcentaje1': $("#Porcentaje1").val(),
            'Porcentaje2': $("#Porcentaje2").val(),
            'Valor1': $("#Valor1").val(),
            'Valor2': $("#Valor2").val(),
            'FechaContrato': $("#FechaContrato").val(),
            'MontaCargas': $("#MontaCargas").val(),
            'MulasHidraulicas': $("#MulasHidraulicas").val(),
            'Papeleria': $("#Papeleria").val(),
            'DelegateSalary': $("#DelegateSalary").val(),
            'WarehouseRequirements': $("#WarehouseRequirements").val(),
            'Resolution': $("#Resolution").val(),
            'Mercancias': $("#Mercancias").val()
        };

        var validator = $("#frmCustomerContract").data("kendoValidator");

            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveCustomerContract", "CustomerContract")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //RefreshGridEstibas();
                       // $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveCustomerContract").show();
                        $("#btnSaveCustomerContract").prop("disabled", false);
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {

                notification.show({
                    title: "Validación",
                    message: "Datos incompletos en el formulario"
                }, "error");

                $("#btnSaveCustomerContract").show();
                $("#btnSaveCustomerContract").prop("disabled", false);

            }


    }
</script>