
<script src="~/admp/assets/plugins/wizard/stepsGoodsDeliveryAuthorization.js"></script>

<script>


   async function resolveAfter2Seconds() {
        return new Promise(resolve => {
            setTimeout(() => {
                RefreshGoodsDeliveredDetail();
            }, 3000);
        });
    }

    var id = -999999;
   async function AsociarCertificados() {

        clearsessiondeliveryautor();

        $("#CustomerId").data("kendoDropDownList").value($("#CustomerIdAsociarRecibo").val());
        $("#CustomerName").val($("#CustomerIdAsociarRecibo").data("kendoDropDownList").text());
        var notification = $("#notification").data("kendoNotification");

        var grid = $("#gridGoodsDeliveredAuthorizationLine").data("kendoGrid");
        var datasource = grid.dataSource;

        var raw = datasource._data;
        for (i = datasource._data.length - 1; i >= 0; i--) {
            item = raw[i];
            datasource.remove(item);
        }

        datasource.async = false;
        //var agregados = '';
        var list = [];
        $("#ddlRecibosAsociados > option").each(function () {
            list.push(this.value);
             //alert(this.text + ' ' + this.value);
            //agregados += this.value + ',';
        });


       var data;
       // agregados = agregados.substring(0, agregados.length - 1);
        //console.log(agregados);
        var dataObject = { 'CertificadosSeleccionados': list };
           $.ajax({
            url: '@Url.Action("AgruparCertificados", "CertificadoDeposito")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
               // console.log(data);

                data = result;

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert(textStatus + ": " + XMLHttpRequest.responseText);
             }
          });

     //  console.log(data);
       var n = 0;
       for (j = 0; j < data.length; j++) {

           //debugger;
           hcustom = data[j].CustomerId;
           $("#FechaCertificado").val(data[j].FechaCertificado);
           $("#FechaDeVencimiento").val(data[j].FechaVencimiento);
           $("#ProductId").data("kendoDropDownList").value(data[j].ServicioId);
           $("#WarehouseId").data("kendoDropDownList").value(data[j].WarehouseId);
           $("#BranchId").data("kendoDropDownList").value(data[j].BranchId);
           $("#CurrencyId").data("kendoDropDownList").value(data[j].CurrencyId);
           $("#BankId").data("kendoDropDownList").value(data[j].BankId);
           // $("#idrecibo").text(data.NoCD);
           // $("#ServicioName").text(data.ServicioName);
           // $("#WarehouseName").text(data.WarehouseName);
           // console.log(data);
           var sumacantidad = 0, total = 0;
           if (data[j]._CertificadoLine.length <= 8) {


               // debugger;
               for (i = 0; i < data[j]._CertificadoLine.length; i++) {
                   console.log('Certificado Line ' + i + 'de ' + j);

                   var multi = $("#ProductosCD").getKendoMultiSelect(),
                       multiDataItems = multi.dataItems();
                   //selectedProducts = [];

                   for (var k = 0; k < multiDataItems.length; k += 1) {
                       var currentProduct = multiDataItems[k];


                       var dataObject = { 
                           GoodsDeliveryAuthorizationLineId: n + 1
                          , GoodsDeliveryAuthorizationId: 0
                           , IdCD: data[j]._CertificadoLine[i].IdCD
                                   , NoCertificadoDeposito: data[j].NoCD
                                   , UnitOfMeasureId: data[j]._CertificadoLine[i].UnitMeasureId
                                   , UnitOfMeasureName: data[j]._CertificadoLine[i].UnitMeasurName
                                   , ValorImpuestos: data[j]._CertificadoLine[i].ValorImpuestos
                                    , WarehouseId: data[j].WarehouseId
                                    , WarehouseName: data[j].WarehouseName
                                    , SubProductId: data[j]._CertificadoLine[i].SubProductId
                                    , SubProductName: data[j]._CertificadoLine[i].SubProductName
                                     , Quantity: data[j]._CertificadoLine[i].Quantity
                           , Price: data[j]._CertificadoLine[i].Price
                          , valorcertificado: data[j].Total
                   };


                       if (currentProduct.SubProductId == data[j]._CertificadoLine[i].SubProductId) {
                           datasource.insert(
                               dataObject
                           );

                              
                               $.ajax({
                                url: '@Url.Action("SetLinesInSession", "GoodsDeliveryAuthorizationLine")',
                                method: 'POST',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (result) {
                                   // console.log(data);
                                   // data = result;

                                },
                                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                                      alert(textStatus + ": " + XMLHttpRequest.responseText);
                                 }
                              });


                           //$("#GoodsDeliveryAuthorizationLineId").val(n + 1);
                           //$("#NoCertificadoDeposito").data("kendoNumericTextBox").value(data[j].NoCD);
                           //$("#Quantity").data("kendoNumericTextBox").value(data[j]._CertificadoLine[i].Quantity);
                           //$("#Description").val('');
                           //$("#valorcertificado").data("kendoNumericTextBox").value(data[j].Total);
                           ////  $("#valorfinanciado").data("kendoNumericTextBox").value(data[j].Total);
                           //$("#SubProductId").data("kendoDropDownList").value(data[j]._CertificadoLine[i].SubProductId);
                           //$("#UnitOfMeasureId").data("kendoDropDownList").value(data[j]._CertificadoLine[i].UnitMeasureId);
                           //$("#WarehouseId").data("kendoDropDownList").value(data[j].WarehouseId);
                           //$("#Price").val(data[j]._CertificadoLine[i].Price);
                           //$("#ValorImpuestos").data("kendoNumericTextBox").value(data[j]._CertificadoLine[i].ValorImpuestos);

                           // debugger;
                           $('#allescondidos').append(' <input type="hidden" id="ValorImpuestosOriginal' + (n + 1) + '" value="' + data[j]._CertificadoLine[i].ValorImpuestos + '" />');
                           $('#allescondidos').append(' <input type="hidden" id="QuantityOriginal' + (n + 1) + '" value="' + data[j]._CertificadoLine[i].Quantity + '" />');
                         

                          // debugger;

                           //  RefreshGoodsDeliveredDetail();
                           //var result = await resolveAfter2Seconds();
                           //console.log('Resultado despues de x segundos');
                           // console.log(result);
                           // datasource.read();
                           n++;
                       }

                   }

                   //  datasource.refresh();
                   //sumacantidad += data._CertificadoLine[i].Quantity;
                   //total += (data._CertificadoLine[i].Price * data._CertificadoLine[i].Quantity) ;
               }



               fiscal();

               CalcularTotalDocumento();

               // $("#Quantitysum").data("kendoNumericTextBox").value(sumacantidad);
               //$("#Total").data("kendoNumericTextBox").value(total);

           }
           else {
               notification.show({
                   title: "Validación",
                   message: "No pueden existir mas de 8 productos!"
               }, "error");
           }
       }


    }

</script>

<!-- Validation wizard -->
<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Asociar certificados de deposito a Autorización</h4>
                <h6 class="card-subtitle">Solo seleccionar 8 productos</h6>
                <form action="#" class="validation-wizard wizard-circle"
                      data-ajax="true"
                      data-ajax-begin="AsociarCertificados">
                    <div class="alert alert-danger" style="display:none" id="alertamsj"></div>
                    <!-- Step 1 -->
                    <h6>Seleccione el Cliente</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <script>

                                        function GetSubProductcustomer(e) {
                                            //var dataItem = e.dataItem;
                                            //$("#hcustomerid").val(dataItem.CustomerId);
                                            //hcustom = dataItem.CustomerId;
                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                            hcustom = $("#CustomerIdAsociarRecibo").val();
                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                        }

                                    </script>


                                    <label class="control-label"></label>

                                    <kendo-dropdownlist name="CustomerIdAsociarRecibo" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccione Cliente"
                                                        required
                                                        datatextfield="CustomerName"
                                                        datavaluefield="CustomerId"
                                                        class="required"
                                                        onchange="GetSubProductcustomer();"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi">
                                            <transport>
                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>

                                </div>
                            </div>
                        </div>


                    </section>
                    <!-- Step 2 -->
                    <h6>Seleccione los certificados de deposito</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    @*<label for="cbxBuscarCertificadosDeposito" class="control-label" style="width:100%">Asociar control de estiba</label>*@

                                    <script>
                                        function valueMapper(options) {
                                          //  console.log('llega value mapper');
                                              $.ajax({
                                                  url: "@Url.Action("Orders_ValueMapper", "CertificadoDeposito")",
                                                  data: convertValues(options.value),
                                                  //data: { 'CustomerId': $("#CustomerIdAsociarRecibo").val() , 'values': convertValues(options.value) },
                                                  success: function (data) {
                                                      options.success(data);
                                                  }
                                              });
                                          }

                                          function convertValues(value) {
                                              var data = {};
                                              value = $.isArray(value) ? value : [value];

                                              for (var idx = 0; idx < value.length; idx++) {
                                                  data["values[" + idx + "]"] = value[idx];
                                              }

                                              return data;
                                        }

                                          function changesetearvalues() {
                                             // var dataObject = { 'Id': $("#cbxBuscarCertificadosDeposito").val() };
                                             // console.log('changesetearvalues');


                                              if ($("#cbxBuscarCertificadosDeposito").val() > 0) {
                                                  $("#ProductosCD").data("kendoMultiSelect").dataSource.read();
                                                  LlenarRecibo();
                                              }
                                          }

                                        function AddRecibos() {
                                            if ($("#cbxBuscarCertificadosDeposito").val() !== '')
                                            {
                                                var existe = false;
                                                $("#alertamsj").css('display', 'none');
                                                $("#ddlRecibosAsociados > option").each(function () {
                                                    if ($("#cbxBuscarCertificadosDeposito").val() === this.value) {
                                                        existe = true;
                                                    }
                                                });

                                                if (existe === false) {
                                                    $('#ddlRecibosAsociados').append('<option value="' + $("#cbxBuscarCertificadosDeposito").val() + '">' + '' + $("#cbxBuscarCertificadosDeposito").data("kendoDropDownList").text() + '</option>');
                                                }
                                                else {
                                                    $("#alertamsj").css('display', 'block');
                                                    $("#alertamsj").text('Ya existe el certificado!');
                                                }
                                            }
                                            else
                                            {
                                                $("#alertamsj").css('display', 'block');
                                                $("#alertamsj").text('Debe seleccionar un recibo!');
                                            }
                                        }

                                        function GetCustomerIdP() {
                                            return { 'CustomerId': $("#CustomerIdAsociarRecibo").val() }
                                        }


                                    </script>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <script>
                                                function GetLinesById() {

                                                    return {
                                                        'IdCD': $("#cbxBuscarCertificadosDeposito").val(),
                                                    }
                                                }
                                            </script>
                                            <label id="SubProducto" class="control-label" style="width:100%">Productos</label>

                                            <kendo-multiselect name="ProductosCD" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                               option-label="Seleccione el/los Producto(s)"
                                                               datatextfield="SubProductName"
                                                               datavaluefield="SubProductId"
                                                               required
                                                               style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetCertificadoLineByIdCD", "CertificadoLine")" data="GetLinesById" />
                                                    </transport>
                                                </datasource>
                                            </kendo-multiselect>
                                            @*<span asp-validation-for="CustomerAreaProduct" class="text-danger"></span>*@
                                        </div>
                                    </div>



                                    @(Html.Kendo().DropDownList()
                                                                      .Name("cbxBuscarCertificadosDeposito")
                                                                      .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                                      .OptionLabel("Buscar")
                                                                      .DataTextField("CustomerName")
                                                                      .DataValueField("IdCD")
                                                                      .HtmlAttributes(new { style = "width:100%" })
                                                                      .Height(290)
                                                                      .CascadeFrom("CustomerIdAsociarRecibo")
                                                                      .Events(e =>
                                                                      {
                                                                          e.Change("changesetearvalues");
                                                                                              // e.Filtering("applyFilterCustomer");
                                                                                          })
                                                                      .AutoBind(true)
                                                                      .DataSource(source =>
                                                                      {
                                                                          source.Ajax()
                                                                          .PageSize(80)

                                                                          .Read(r =>
                                                                          {
                                                                              r.Action("Virtualization_Read", "CertificadoDeposito");

                                                                          });
                                                                      })

                                                                      .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                                    )
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input type="button" class="btn waves-effect waves-light btn-primary" onclick="AddRecibos();" value="Agregar Certificado" />
                                @*<button id="btnAgregarRecibo" onclick="AddRecibos();" style="width:100%;height:100%;" class="btn-google-plus">Agregar Recibo</button>*@

                            </div>

                        </div>

                        <div class="row">

                        </div>

                        @await Html.PartialAsync("pvwCertificadoDepositoRead")
                    </section>
                    <!-- Step 3 -->
                    <h6>Recibos Asociados</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="wintType1">Certificados Asociados :</label>
                                    <select class="custom-select form-control required" id="ddlRecibosAsociados" data-placeholder="Type to search cities" name="wintType1"></select>
                                </div>

                            </div>
                        </div>
                    </section>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- vertical wizard -->

<br />