@model ERPMVC.DTO.GoodsDeliveryAuthorizationDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "NoCertificadoDeposito" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        //if (input.attr('name') === "Price" && input.val() == 0) {
        //    return false;
        //}

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closesGoodsDeliveryAuthorization() {
        $("#myModalGoodsDeliveryAuthorization").modal('hide');
        var grid = $("#gridGoodsDeliveryAuthorization").getKendoGrid();
        grid.dataSource.read();
    }




</script>

<div id="myModalGoodsDeliveryAuthorization" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesGoodsDeliveryAuthorization();">&times;</button>
                <h4 class="modal-title">Información Autorización entrega de mercadería</h4>
            </div>
            <div class="modal-body">


                @await Html.PartialAsync("pvwAsociarCertificados")


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-body">
                                <form id="frmGoodsDeliveryAuthorization" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      method="post" class="wizard-circle">
                                    <div class="form-body">
                                        <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />
                                        <hr>

                                        @*
                <div class="row">
                <div class="col-md-12">
                    <div class="form-group">

                        <label for="cbxBuscar" class="control-label" style="width:100%">Asociar certificado de deposito</label>
                        <script>
                            function valueMapper(options) {
                                $.ajax({
                                    url: "@Url.Action("Orders_ValueMapper", "CertificadoDeposito")",
                                    data: convertValues(options.value),
                                    success: function (data) {
                                        options.success(data);
                                    }
                                });
                            }

                            function convertValues(value) {
                                var data = {};
                                value = $.isArray(value) ? value : [value];

                                for (var idx = 0; idx < value.length; idx++) {
                                    data["values[" + idx + "]"] = value[idx];
                                }

                                return data;
                            }
                            function changesetearvalues() {
                                var dataObject = { 'Id': $("#cbxBuscar").val() };

                                   $.ajax({
                                         url: '@Url.Action("GetCertificadoDepositoById", "CertificadoDeposito")',
                                         method: 'GET',
                                         datatype: "json",
                                         contentType: 'application/json',
                                         async: false,
                                         data: dataObject,
                                         success: function (data) {
                                           console.log(data);

                                             $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                             $("#CustomerId").data("kendoDropDownList").select(data.CustomerId);
                                             $("#CustomerId").data("kendoDropDownList").trigger('change');
                                             $("#BranchId").data("kendoDropDownList").value(data.BranchId);
                                             $("#WarehouseId").data("kendoDropDownList").value(data.WarehouseId);
                                             $("#CurrencyId").data("kendoDropDownList").value(data.CurrencyId);
                                             $("#ProductId").data("kendoDropDownList").value(data.ServicioId);

                                             var NoCD = $("#NoCD").data("kendoNumericTextBox");
                                             NoCD.value(data.NoCD);
                                             NoCD.trigger('change');

                                             hcustom = data.CustomerId;
                                             GetProductTypeIdS();
                                             $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                             $("#SubProductId").data("kendoDropDownList").value(data.SubProductId);
                                           //  $("#Name").val(data.Motorista);

                                             var grid = $("#gridGoodsDeliveredAuthorizationLine").data("kendoGrid");
                                             var datasource = grid.dataSource;
                                             var raw = datasource._data;
                                             for (i = datasource._data.length - 1; i >= 0; i--) {
                                                 item = raw[i];
                                                 datasource.remove(item);
                                             }



                                             for (i = 0; i < data._CertificadoLine.length; i++) {
                                                 datasource.insert({
                                                     GoodsDeliveryAuthorizationLineId: 0, GoodsDeliveryAuthorizationId: 0
                                                     , Quantity: data._CertificadoLine[i].Quantity, NoCertificadoDeposito: data._CertificadoLine[i].NoCD
                                                     , UnitOfMeasureName: data._CertificadoLine[i].UnitMeasurName, UnitOfMeasureId: data._CertificadoLine[i].UnitMeasureId
                                                     , SubProductId: data._CertificadoLine[i].SubProductId, SubProductName: data._CertificadoLine[i].SubProductName
                                                     , WareHouseId: data._CertificadoLine[i].WarehouseId
                                                     , WarehouseName: data._CertificadoLine[i].WarehouseName

                                                 });
                                             }



                                         },
                                         error: function (XMLHttpRequest, textStatus, errorThrown) {

                                           //  $("#btngenerarfactura").show();
                                             notification.show({
                                                 title: "Validacion",
                                                 message: textStatus + ": " + XMLHttpRequest.responseText
                                             }, "error");

                                         }
                                     });
                            }



                        </script>
                        <input type="hidden" id="singuardar" value="0" />
                        @(Html.Kendo().DropDownList()
                                                   .Name("cbxBuscar")
                                                   .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                   .OptionLabel("Buscar")
                                                   .DataTextField("CustomerName")
                                                   .DataValueField("IdCD")
                                                   .HtmlAttributes(new { style = "width:100%" })
                                                   .Height(290)
                                                   .Events(e =>
                                                   {
                                                       e.Change("changesetearvalues");
                                                                                           // e.Filtering("applyFilterCustomer");
                                                                                       })
                                                   .AutoBind(true)
                                                   .DataSource(source =>
                                                   {
                                                       source.Ajax()
                                                       .PageSize(80)

                                                       .Read("Virtualization_Read", "CertificadoDeposito");
                                                   })
                                                   .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                        )


                    </div>
                </div>
            </div>
                                        *@

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="GoodsDeliveryAuthorizationId" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="SalesOrderId"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.GoodsDeliveryAuthorizationId"></kendo-numerictextbox>
                                                    <span asp-validation-for="GoodsDeliveryAuthorizationId" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function GetSubProduct(e) {
                                                            var dataItem = e.dataItem;
                                                            $("#hcustomerid").val(dataItem.CustomerId);
                                                            hcustom = dataItem.CustomerId;
                                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();

                                                        }

                                                    </script>


                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                    @*onchange="SetCustomerName();"
                        on-select="GetSubProduct"
                                                    *@
                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Selecccione Cliente"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        on-select="GetSubProduct"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="12000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                            //WarehouseId.dataSource.read();
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    @*on-select="FillWareHouse"*@
                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        required
                                                                        enable="false"
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CurrencyId" class="control-label"></label>
                                                <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la moneda"
                                                                    datatextfield="CurrencyName"
                                                                    datavaluefield="CurrencyId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetCurrency", "Currency")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <script>
                                                    function fiscal() {
                                                        if ($("#ProductId").val() == 2) {
                                                            $("#divtotalfiscal").css("display", "block");
                                                            $("#divvalorimpuesto").css("display", "block")

                                                        }
                                                        else {
                                                            $("#divtotalfiscal").css("display", "none")
                                                        }

                                                    }
                                                </script>
                                                <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                                <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ProductId"
                                                                    option-label="Seleccione el Producto"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    onchange="fiscal();"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetProduct", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                <kendo-datetimepicker name="DocumentDate"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.DocumentDate"></kendo-datetimepicker>
                                                <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="AuthorizationDate" class=" control-label" style="width: 100%;"></label>
                                                <kendo-datetimepicker name="AuthorizationDate"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.AuthorizationDate"></kendo-datetimepicker>
                                                <span asp-validation-for="AuthorizationDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Name" required class="form-control" style="min-width:100%;" asp-for="Name" />
                                            </div>
                                        </div>


                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label asp-for="BankId" class="control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="BankId" for="@Model.BankId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccion el banco"
                                                                    datatextfield="BankName"
                                                                    datavaluefield="BankId"
                                                                    auto-bind="true"
                                                                    required
                                                                    style="min-width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetJson", "Bank")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="NoCD" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="NoCD"
                                                                      format="n"
                                                                      min="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="min-width: 100%;"
                                                                      value="Model.NoCD"></kendo-numerictextbox>
                                                <span asp-validation-for="NoCD" class="text-danger"></span>
                                            </div>

                                        </div>
                      

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Comments" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Comments" required class="form-control" style="min-width: 100%;" asp-for="Comments" />
                                            </div>
                                        </div>
                                    </div>


                                </form>


                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwGoodsDeliveryAuthorizationDetail", Model)
                                </div>

                                <div id="GoodsDeliveredAuthorizationLineMant">
                                    @await Html.PartialAsync("pvwGoodsDeliveryAuthorizationDetailMant", new ERPMVC.Models.GoodsDeliveryAuthorizationLine { GoodsDeliveryAuthorizationLineId = 0, GoodsDeliveryAuthorizationId = Model.GoodsDeliveryAuthorizationId })
                                </div>


                                <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                    <div class="box" id="TotalesDocumento">
                                        <div class="box-body">
                                            <div class="content-container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-8">

                                                    </div>
                                                    <div class="col-lg-4">
                                                        <dl class="dl-horizontal">
                                                            <dt>
                                                                <label asp-for="TotalCertificado" class="control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="TotalCertificado"
                                                                                      format="n2"
                                                                                      style="width: 100%;"
                                                                                      min="0" disabled
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalCertificado"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalCertificado" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="TotalFinanciado" class="control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalFinanciado"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalFinanciado"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalFinanciado" class="text-danger"></span>
                                                            </dd>

                                                            <div id="divtotalfiscal" style="display:none">
                                                                <dt>
                                                                    <label asp-for="DerechoLps" class="control-label"></label>
                                                                </dt>

                                                                <dd>
                                                                    <kendo-numerictextbox name="DerechoLps"
                                                                                          format="n2"
                                                                                          min="0"
                                                                                          disabled
                                                                                          required
                                                                                          style="width: 100%;"
                                                                                          max="999999999"
                                                                                          step="1"
                                                                                          value="Model.DerechoLps"></kendo-numerictextbox>
                                                                    <span asp-validation-for="DerechoLps" class="text-danger"></span>
                                                                </dd>

                                                                <dt>
                                                                    <label asp-for="DelegadoFiscal" class="control-label"></label>
                                                                </dt>

                                                                <dd>
                                                                    <input type="text" asp-for="DelegadoFiscal" class="form-control" style="min-width:100%" />
                                                                    <span asp-validation-for="DelegadoFiscal" class="text-danger"></span>
                                                                </dd>


                                                                <dt>
                                                                    <label asp-for="NoPoliza" class="control-label"></label>
                                                                </dt>

                                                                <dd>
                                                                    <kendo-numerictextbox name="NoPoliza"
                                                                                          format="n2"
                                                                                          min="0"
                                                                                          disabled
                                                                                          required
                                                                                          style="width: 100%;"
                                                                                          max="999999999"
                                                                                          step="1"
                                                                                          value="Model.NoPoliza"></kendo-numerictextbox>
                                                                    <span asp-validation-for="NoPoliza" class="text-danger"></span>
                                                                </dd>
                                                            </div>



                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="row">
                                    @if (Model.editar == 1)
                                    {
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveGoodsDelivered(this);">Guardar</button>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    function RefreshGridGoodsDelivered() {
        var grid = $("#RefreshGridGoodsDelivered ").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveGoodsDelivered(e) {

        //CalcularTotalDocumento();
        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);

        var validadetalle = true;
        var displayedData = $("#gridGoodsDeliveredAuthorizationLine").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].GoodsDeliveryAuthorizationLineId = 0;
           // console.log(displayedData[i].WarehouseId);
            if (displayedData[i].NoCertificadoDeposito === '' || displayedData[i].NoCertificadoDeposito === '0'
                || displayedData[i].WarehouseId === '' || displayedData[i].Quantity === 0
                || displayedData[i].WarehouseId === null || displayedData[i].WarehouseId === 0) {
                notification.show({
                    title: "Validación",
                    message: "Ingrese al detalle todos los datos requeridos"
                }, "error");
                validadetalle = false;

            }
        }


        if (validadetalle) {
            var list = [];
            $("#ddlRecibosAsociados > option").each(function () {
                list.push(this.value);
            });

            var dataObject = {
                'GoodsDeliveryAuthorizationId': $("#GoodsDeliveryAuthorizationId").val(),
                'AuthorizationName': $("#AuthorizationName").val(),
                'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                'AuthorizationDate': $("#AuthorizationDate").getKendoDateTimePicker().value().toJSON(),
                'NoCD': $("#NoCD").val(),
                'Name': $("#Name").val(),
                'BankId': $("#BankId").val(),
                'BankName': $("#BankId").data("kendoDropDownList").text(),
                'ProductId': $("#ProductId").val(),
                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                //'WareHouseId': $("#WarehouseId").val(),
                //'WareHouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                'TotalCertificado': $("#TotalCertificado").val(),
                'TotalFinanciado': $("#TotalFinanciado").val(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'CurrencyId': $("#CurrencyId").val(),
                'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                'DerechoLps': $("#DerechoLps").val(),
                'NoPoliza': $("#NoPoliza").val(),
                'DelegadoFiscal': $("#DelegadoFiscal").val(),
                'GoodsDeliveryAuthorizationLine': displayedData,
                'Comments': $("#Comments").val(),
                'CertificadosAsociados': list
            };

            var validator = $("#frmGoodsDeliveryAuthorization").data("kendoValidator");
            var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate() && validator2.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveGoodsDeliveryAuthorization", "GoodsDeliveryAuthorization")',
                        method: 'POST',
                        datatype: "json",
                        //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");

                            RefreshGridGoodsDelivered();
                            $('#myModalGoodsDeliveryAuthorization').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#btnSaveControlEstiba").show();
                            $("#btnSaveControlEstiba").prop("disabled", false);
                            $("#btngenerarfactura").show();
                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    $("#btnSaveControlEstiba").show();
                    $("#btnSaveControlEstiba").prop("disabled", false);
                    //status.text("Oops! There is invalid data in the form.")
                    //    .removeClass("valid")
                    //    .addClass("invalid");
                }
            }
            else {
                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);
                notification.show({
                    title: "Validacion",
                    message: "Debe agregar los productos!"
                }, "error");

            }
        }
        else {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
        }


      //  $("#btnSaveControlEstiba").show();

    }
</script>