@model ERPMVC.DTO.UserClaimDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                               // {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }
</script>




<div id="myModalUserClaim" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Claim</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmUserClaim" kendo-validator="true" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Reclamo de usuario</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Id" name="Id" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ClaimType" class="control-label" style="width:100%">Tipo de Reclamo</label>
                                                    <input type="text" asp-for="ClaimType" name="ClaimType" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="ClaimType" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ClaimValue" class="control-label" style="width:100%">Valor de Reclamo</label>
                                                    <input type="text" asp-for="ClaimValue" name="ClaimValue" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ClaimValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="UserId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UserId"
                                                                        for="@Model.UserId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Usuario"
                                                                        datatextfield="UserName"
                                                                        datavaluefield="UserId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetJsonUsersApi", "UserRol")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    @*@(Html.Kendo().DropDownList()
                                                       .OptionLabel("Seleccione un usuario")
                                                       .DataValueField("UserId")
                                                       .DataTextField("UserName")
                                                       .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                       .HtmlAttributes(new { @style = "width:100%;" })
                                                       .Enable(true)
                                                       .AutoBind(true)
                                                       .DataSource(Source => Source.Read(r => r.Action("GetJsonUsers", "UserRol")))

                                                   )*@
                                                </div>
                                                </div>         

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="PolicyId" class="control-label">Politica</label>
                                                    <kendo-dropdownlist name="PolicyId"
                                                                        for="@Model.PolicyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Politica"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetPolicy", "Policy")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    </div>
                                                </div>
                                            </div>
                                  

                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnUserClaim" class="form-control btn-miboton" type="submit" onclick="SaveUserClaim(this);"> Guardar </button>
                                        </div>
                                    </div>
                                 </div>
                                </form>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

<script>
    function SaveUserClaim(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnUserClaim").hide();
        $("#btnUserClaim").prop("disabled", true);

        var displayedData = $("#gridUserClaim").data().kendoGrid.dataSource.view();

        var dataObject = {  'Id': $("#Id").val()===""?"0":$("#Id").val(),
			           'UserId':$("#UserId").val(),
                       'ClaimType': $("#ClaimType").val(),
                       'ClaimValue': $("#ClaimValue").val(),
                       'PolicyId': $("#PolicyId").val(),
                       '_UserClaim': displayedData
        };

       // console.log(JSON.stringify(dataObject));
        //var form = $("#frmNumeracion");
       // form.validate();

        var validator = $("#frmUserClaim").data("kendoValidator");
             var status = $(".status");

        if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveUserClaim", "UserClaim")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");
                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });
                        RefreshCotizaciones();

                        $('#myModalUserClaim').modal('hide');


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        notification.show({
                            title: "Validación",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        }
        else {
            notification.show({
                title: "Validación",
                message: "Debe agregar los productos!"
            }, "error");
           // notification.show("New E-mail","Debe agregar los productos", "info");
            //alert('Debe agregar los productos!!');
        }

        $("#btnUserClaim").show();
        $("#btnUserClaim").prop("disabled", false);
    }
</script>
