@model ERPMVC.DTO.CertificadoDepositoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }


        if (input.attr('name') === "NoCD" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@*@await  Html.PartialAsync("~/Views/OFAC/Index.cshtml")*@


<div id="myModalCertificadoDeposito" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información Certificado</h4>
            </div>
            <div class="modal-body">

                @await Html.PartialAsync("pvwAsociarRecibos")

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmCertificadoDeposito" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post">



                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCD" class="control-label"></label>
                                                    <kendo-numerictextbox name="IdCD"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.IdCD"></kendo-numerictextbox>
                                                    <span asp-validation-for="IdCD" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoCD" class="control-label"></label>
                                                    <kendo-numerictextbox name="NoCD"
                                                                          format="n"
                                                                          required
                                                                          min="0"
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.NoCD"></kendo-numerictextbox>
                                                    <span asp-validation-for="NoCD" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <script>
                                                    function buscarofacNombre() {
                                                        var dataObject = {
                                                            firstName: $("#SalesOrderName").val(),
                                                            lastName: $("#SalesOrderName").val()
                                                        };

                                                        var notification = $("#notification").data("kendoNotification");
                                                        $.ajax({
                                                            url: '@Url.Action("GetPersonByName", "OFAC")',
                                                            method: 'POST',
                                                            datatype: "json",
                                                            contentType: 'application/json',
                                                            async: false,
                                                            data: JSON.stringify(dataObject),
                                                            success: function (result) {
                                                                notification.show({
                                                                    title: "Validacion",
                                                                    message: "Se encuentra en los listados de ofac"
                                                                }, "error");

                                                            },
                                                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                            }
                                                        });
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="CustomerName" class="control-label" style="width:100%"></label>
                                                    <span>
                                                        <input asp-for="CustomerName" required class="form-control form-control-line" style="min-width: 80%" />
                                                        <button onclick="RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>OFAC</button>
                                                    </span>
                                                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    @*on-select="FillWareHouse"*@
                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        enable="false"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaCertificado" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaCertificado"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaCertificado"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaCertificado" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreEmpresa" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombreEmpresa" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                                                </div>

                                            </div>

                                            @*<div class="col-md-4">
                                                    <div class="form-group">
                                                        <script>
                                                            function GetBranchId() {

                                                                return { 'BranchId': 1 }
                                                            }



                                                        </script>
                                                        <label asp-for="WarehouseId" class="control-label"></label>
                                                        <kendo-dropdownlist name="WarehouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione Bodega"
                                                                            cascade-from="BranchId"
                                                                            value="@Model.WarehouseId"
                                                                            required
                                                                            auto-bind="true"
                                                                            datatextfield="WarehouseName"
                                                                            datavaluefield="WarehouseId"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "Warehouse")" data="GetBranchId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                    </div>
                                                </div>*@
                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <label asp-for="IdEstado" class="control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el Estado"
                                                                    datatextfield="NombreEstado"
                                                                    datavaluefield="IdEstado"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoPoliza" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NoPoliza" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="NoPoliza" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EmpresaSeguro" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="EmpresaSeguro" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="EmpresaSeguro" class="text-danger"></span>
                                                </div>

                                            </div>


                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function changeServicio() {
                                                            if ($("#ServicioId").val() == 2) {

                                                                $("#divtotalsujetoapago").css("display", "block");
                                                                $("#divvalorimpuesto").css("display", "block");

                                                            }
                                                            else {

                                                                $("#divtotalsujetoapago").css("display", "none");
                                                                $("#SujetasAPago").data("kendoNumericTextBox").value(0);
                                                            }
                                                        }
                                                    </script>
                                                    <label asp-for="ServicioId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ServicioId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ServicioId"
                                                                        onchange="changeServicio();"
                                                                        option-label="Seleccione el servicio"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetProduct", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ServicioId" class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LugarFirma" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="LugarFirma" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="LugarFirma" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BankId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="BankId" for="@Model.BankId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetJson", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <label asp-for="MontoGarantia" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="MontoGarantia"
                                                                      format="n"
                                                                      min="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.MontoGarantia"></kendo-numerictextbox>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaInicioComputo" class="control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaInicioComputo"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaInicioComputo"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaInicioComputo" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaPagoBanco" class="control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaPagoBanco"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaPagoBanco"></kendo-datetimepicker>
                                                </div>

                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <label asp-for="PorcentajeInteresesInsolutos" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="PorcentajeInteresesInsolutos"
                                                                      format="n"
                                                                      min="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.PorcentajeInteresesInsolutos"></kendo-numerictextbox>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombrePrestatario" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombrePrestatario" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="NombrePrestatario" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoTraslado" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NoTraslado" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="NoTraslado" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">



                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="OtrosCargos" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="OtrosCargos" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="OtrosCargos" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                             alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label"></label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el cliente"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        class="form-control-line"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>




                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaVencimientoDeposito" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaVencimientoDeposito"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaVencimientoDeposito"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaVencimientoDeposito" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaVencimiento" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaVencimiento"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          value="Model.FechaVencimiento"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaFirma" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaFirma"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          value="Model.FechaFirma"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaFirma" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4" id="divtotalsujetoapago" style="display:none">
                                                <label asp-for="SujetasAPago" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="SujetasAPago"
                                                                      format="n"
                                                                      enable="false"
                                                                      min="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.SujetasAPago"></kendo-numerictextbox>

                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class=" col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                                    <textarea id="Direccion" name="Direccion" asp-for="Direccion" required class="form-control required " style="min-width: 100% !important;"></textarea>
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                    </form>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div id="salesorderdetail">
                                            @await Html.PartialAsync("pvwCertificadoDepositoDetail", Model)
                                        </div>

                                        <div id="SalesOrderLineMant">
                                            @await Html.PartialAsync("pvwCertificadoDepositoDetailMant", new ERPMVC.Models.CertificadoLine { CertificadoLineId = 0, IdCD = Model.IdCD })
                                        </div>



                                        <div class="clearfix">&nbsp;</div>
                                        <div class="clearfix">&nbsp;</div>

                                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                            <div class="box" id="TotalesDocumento">
                                                <div class="box-body">
                                                    <div class="content-container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-8">

                                                            </div>
                                                            <div class="col-lg-4">
                                                                <dl class="dl-horizontal">
                                                                    <dt>
                                                                        <label asp-for="Quantitysum" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Quantitysum"
                                                                                              format="n2"
                                                                                              spinners="false"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              min="0" disabled class="control-label right bold"
                                                                                              max="999999999"
                                                                                              value="Model.Quantitysum"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Quantitysum" class="text-danger"></span>
                                                                    </dd>


                                                                    <dt>
                                                                        <label asp-for="Total" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="Total"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Total"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Total" class="text-danger"></span>
                                                                    </dd>

                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            @if (Convert.ToBoolean(Model.editar))
                                            {
                                                <button id="btnSaveCertificadoDeposito" type="submit" class="form-control btn-miboton " onclick="SaveCertificadoDeposito(this);">Guardar</button>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCertificadoDeposito() {
        var grid = $("#gridCertificadoDeposito").getKendoGrid();
        grid.dataSource.read();
    }

     function SaveCertificadoDeposito(e) {
        // e.preventDefault();
        CalcularTotalDocumento();
        var notification = $("#notification").data("kendoNotification");
         $("#btnSaveCertificadoDeposito").hide();
         $("#btnSaveCertificadoDeposito").prop("disabled", true);

      //  debugger;
        var validadetalle = true;
        var displayedData = $("#gridCertificadoDepositoDetail").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].CertificadoLineId = 0;
            if (
                displayedData[i].Quantity === 0
                || displayedData[i].Price === 0
                || displayedData[i].Amount === 0
                || displayedData[i].SubProductId === null || displayedData[i].SubProductId === 0) {
                notification.show({
                    title: "Validación",
                    message: "Ingrese al detalle todos los datos requeridos"
                }, "error");
                validadetalle = false;
            }

            if ($("#ServicioId").val() == 2 && (displayedData[i].ValorImpuestos == '' || displayedData[i].ValorImpuestos == 0)) {
                validadetalle = false;
                notification.show({
                    title: "Validación",
                    message: "Ingresar los valores de impuestos!"
                }, "error");
            }
         }

         if ($("#ServicioId").val() == 2 && ($("#SujetasAPago").val() == '' || $("#SujetasAPago").val() == 0)) {
             validadetalle = false;
             notification.show({
                 title: "Validación",
                 message: "Ingresar los valores de impuestos!"
             }, "error");
         }


         if (validadetalle) {

             var list = [];
             $("#ddlRecibosAsociados > option").each(function () {
                 list.push(this.value);
             });
             var validator = $("#frmCertificadoDeposito").data("kendoValidator");
             var validator2 = $("#TotalesDocumento").data("kendoValidator");
             var status = $(".status");
             if (displayedData.length > 0) {
                 if (validator.validate() && validator2.validate()) {
                     var dataObject = {
                         'IdCD': $("#IdCD").val(),
                         'CustomerId': $("#CustomerId").val(),
                         'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                         'BranchId': $("#BranchId").val(),
                         'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                         'WarehouseId': $("#WarehouseId").val(),
                         'ServicioId': $("#ServicioId").val(),
                         'ServicioName': $("#ServicioId").data("kendoDropDownList").text(),
                         'IdEstado': $("#IdEstado").val(),
                         'Direccion': $("#Direccion").val(),
                         'FechaCertificado': $("#FechaCertificado").getKendoDateTimePicker().value().toJSON(),
                         'NombreEmpresa': $("#NombreEmpresa").val(),
                         'EmpresaSeguro': $("#EmpresaSeguro").val(),
                         'NoPoliza': $("#NoPoliza").val(),
                         'FechaVencimiento': $("#FechaVencimiento").getKendoDateTimePicker().value().toJSON(),
                         'Almacenaje': $("#Almacenaje").val(),
                         'BankId': $("#BankId").val(),
                         'BankName': $("#BankId").data("kendoDropDownList").text(),
                         'CurrencyId': $("#CurrencyId").val(),
                         'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                         'FechaFirma': $("#FechaFirma").getKendoDateTimePicker().value().toJSON(),
                         'FechaInicioComputo': $("#FechaInicioComputo").getKendoDateTimePicker().value().toJSON(),
                         'FechaPagoBanco': $("#FechaPagoBanco").getKendoDateTimePicker().value().toJSON(),
                         'FechaVencimientoDeposito': $("#FechaVencimientoDeposito").getKendoDateTimePicker().value().toJSON(),
                         'LugarFirma': $("#LugarFirma").val(),
                         'MontoGarantia': $("#MontoGarantia").val(),
                         'NoCD': $("#NoCD").val(),
                         'NoTraslado': $("#NoTraslado").val(),
                         'NombrePrestatario': $("#NombrePrestatario").val(),
                         'OtrosCargos': $("#OtrosCargos").val(),
                         'PorcentajeInteresesInsolutos': $("#PorcentajeInteresesInsolutos").val(),
                         'Quantitysum': $("#Quantitysum").val(),
                         'Seguro': $("#Seguro").val(),
                         'SujetasAPago': $("#SujetasAPago").val(),
                         'Total': $("#Total").val(),
                         '_CertificadoLine': displayedData,
                         'RecibosAsociados': list
                         //'FechaCreacion': $("#FechaCreacion").val(),
                         //'FechaModificacion': $("#FechaModificacion").val(),
                         //'UsuarioCreacion': $("#UsuarioCreacion").val(),
                         //'UsuarioModificacion': $("#UsuarioModificacion").val(),
                         //'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                     };

                     //console.log(JSON.stringify(dataObject));
                     //var form = $("#frmCertificadoDeposito");
                     //form.validate();
                     //console.log(JSON.stringify(dataObject));
                     //console.log(dataObject);

                     $.ajax({
                         url: '@Url.Action("SaveCertificadoDeposito", "CertificadoDeposito")',
                         method: 'POST',
                         datatype: "json",
                         //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                         contentType: 'application/json',
                         async: false,
                         data: JSON.stringify(dataObject),
                         success: function (data) {

                             $.toast({
                                 heading: 'Satisfactorio',
                                 text: '<br/><br/>Datos guardados correctamente.',
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'success',
                                 hideAfter: 3000,
                                 stack: 6
                             });
                             //notification.show({
                             //    message: "Guardado correctamente!"
                             //}, "upload-success");

                             RefreshCertificadoDeposito();
                             $('#myModalCertificadoDeposito').modal('hide');

                         },
                         error: function (XMLHttpRequest, textStatus, errorThrown) {

                             $("#btnSaveCertificadoDeposito").show();
                             $("#btnSaveCertificadoDeposito").prop("disabled", false);
                             notification.show({
                                 title: "Validacion",
                                 message: textStatus + ": " + XMLHttpRequest.responseText
                             }, "error");

                         }
                     });

                 }
                 else {
                     $("#btnSaveCertificadoDeposito").show();
                     $("#btnSaveCertificadoDeposito").prop("disabled", false);
                 }
             }
             else {
                 notification.show({
                     title: "Validacion",
                     message: "Debe agregar los productos!"
                 }, "error");

             }


         }
         else {
             $("#btnSaveCertificadoDeposito").show();
             $("#btnSaveCertificadoDeposito").prop("disabled", false);
         }
    }
</script>
