@model ERPMVC.Models.Contrato_movimientos

@{Layout = null;
    var messages = new Dictionary<string, string>() {
{"required","Valor requerido" }
};

}
<script>
    //Limpia la variable de session
     function clearsession() {
            var dataObject = ["listadoproductos"];
                $.ajax({
                   url: '@Url.Action("ClearSession","Common")',
                   method: 'POST',
                   datatype: "json",
                   contentType: 'application/json',
                   async: false,
                   data: JSON.stringify(dataObject),
                   success: function (result) {
                         //  $('#myModalSalesOrder').modal('show');
                   },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                           alert(textStatus + ": " + XMLHttpRequest.responseText);
                    }
                });
           }
   
    function GetContratoId() {
        return { ContratoId: $("#ContratoId").val() }
    }

</script>

<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">Plan de pagos</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form id="frmUnitOfMeasure" kendo-validator="true" kendo-messages="messages"
                              data-ajax="true"
                              data-ajax-method="post"
                              method="post" class="validation-wizard wizard-circle">
                            <!-- ID -->
                            <div class="row" hidden>
                                <div class="col-md-0" hidden>
                                    <div class="form-group">
                                        <label asp-for="Contrato_movimientosId" class="control-label" style="width:100%"></label>
                                        <input type="number" asp-for="Contrato_movimientosId" class="form-control" style="min-width:100%" disabled />

                                    </div>
                                </div>
                                <div class="col-md-3" hidden>
                                    <div class="form-group">
                                        <label asp-for="ContratoId" class="control-label" style="width:100%"></label>
                                        <input type="number" asp-for="ContratoId" class="form-control" style="min-width:100%" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BranchId" class="control-label">Tienda</label>
                                        <kendo-dropdownlist name="IdBranch"
                                                            for="@Model.BranchId"
                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccionar Tienda"
                                                            datatextfield="BranchName"
                                                            datavaluefield="BranchId"
                                                            required data-required-msg="La Tienda es requerida"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetBranch", "Branch")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="EmployeesId" class="control-label">Cobrador</label>
                                        <kendo-dropdownlist name="EmployeesId" for="@Model.EmployeesId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione el cobrador"
                                                            datatextfield="NombreEmpleado"
                                                            datavaluefield="IdEmpleado"
                                                            class="form-control-line"
                                                            required data-required-msg="El Cobrador es requerido"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Employees")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="EmployeesId" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Forma_pago" class="control-label"></label>
                                        <input type="text" asp-for="Forma_pago" name="Forma_pago" required data-required-msg="La Forma de pago es requerida" style="min-width: 100%" onchange="validarFormaPago()" />
                                        <span asp-validation-for="Forma_pago" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Fechamovimiento" class="control-label" style="width: 100%;">Fecha de Pago</label>
                                        <kendo-datetimepicker name="Fechamovimiento"
                                                              style="width: 100%;"
                                                              format="dd/MM/yyyy hh:mm:ss"
                                                              time-format="hh:mm:ss"
                                                              data-val-required="La fecha es requerida"
                                                              value="Model.Fechamovimiento" />
                                        <span asp-validation-for="Fechamovimiento" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div id="ContratoDetail">
                                @await Html.PartialAsync("pvwContrato_Detail", new ERPMVC.Models.Contrato { ContratoId = 0 })
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnGuardar" class="btn btn-success" onclick="GuardarPlan(this);">Pagar</button>
                                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Contrato")';return false;">Regresar</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ///Listado formas de pago
    $(document).ready(function () {

        var data = [
            { text: "Seleccione forma de pago", value: "0" },
            { text: "Efectivo", value: "1" },
            { text: "Tarjeta", value: "2" },
            { text: "Cheque", value: "3" },
            { text: "Transferencia ACH", value: "4" },
        ];

        // create DropDownList from input HTML element
        $("#Forma_pago").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            index: 0,
            //change: onChange
        });

        $("#MesAlert").prop("hidden", true);
    });



    function validarFormaPago() {
        var Months = $("#Forma_pago").val();
        //console.log("Valor Mes", Meses);
        if (Months == 0 || $("#Forma_pago").data("kendoDropDownList").text() == "Seleccione forma de pago") {
            $("#MesAlert").show();
        }
        else {
            $("#MesAlert").hide();
        }
    }


            //para guardar registro
    function GuardarPlan(e) {
        debugger;
            var dataObject = {
                'Contrato_movimientosId': $("#Contrato_movimientosId").val() === "" ? "0" : $("#Contrato_movimientosId").val(),
                'ContratoId': $("#ContratoId").val(),
                'Fechamovimiento': $("#Fechamovimiento").getKendoDateTimePicker().value().toJSON,
                'BranchId': $("#BranchId").val(),
                //'Branch': $("#BranchId").data("kendoDropDownList").text(),
                'Tipo_movimiento': 0,
                'Valorcapital': $("#Valor_Contrato").val(),
                'Forma_pago': $("#Forma_pago").val(),
                'EmployeesId': $("#EmployeesId").val(),
               //'_Contrato': displayedData,

        };
        console.log("dataObject", dataObject);
       var validator = $("#frmUnitOfMeasure").data("kendoValidator");

               if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Action("SaveContrato_movimientos", "Contrato_movimientos")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            $("#Contrato_movimientosId").val(data.Contrato_movimientosId);
                            $("#ContratoId").val(data.ContratoId);
                            swal("Pagado", "Datos guardados", "success");

                            window.addEventListener("keyup", function (event) {
                                var codigo = event.keyCode || event.which;
                                if (codigo == 13) {
                                    //Cierras tu ventana
                                }
                            }, false);
                        window.location.href='@Url.Action("Index", "Contrato")';
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#btnGuardar").show();
                            $("#btnGuardar").prop("disabled", false);
                            swal("Error", "Ha ocurrido un error al guardar los cambios" + textStatus, "error");
                        }
                    });

                }
                else {
                    $("#btnGuardar").show();
                    $("#btnGuardar").prop("disabled", false);

        }
       
        }
</script>