@model ERPMVC.DTO.BlackListCustomersDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalBlackListCustomers"  class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lista Negra de Clientes</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBlackListCustomers" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveBlackListCustomers"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4" hidden>
                                                <div class="form-group">
                                                    <label asp-for="BlackListId" class=" control-label" style="width:100%">Id Lista Negra</label>
                                                    <input type="text" asp-for="BlackListId" name="BlackListId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="BlackListId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="control-label">Nombre de Cliente</label>
                                                    <kendo-dropdownlist name="CustomerId"
                                                                        for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Nombre"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        required data-required-msg="El Cliente es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerConcatenado", "Customer")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerReference" class=" control-label" style="width:100%">Referencia de cliente</label>
                                                    <input type="text" asp-for="CustomerReference" name="CustomerReference" class="form-control" required data-required-msg="La referencia del cliente es requerida" maxlength="50" autocomplete="off" style="width:100%" required />
                                                    <span asp-validation-for="CustomerReference" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class=" col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado" enable="true"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        required data-required-msg="El Estado es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width:100%">Fecha del documento</label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate"/>
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Alias" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Alias" name="Alias" class="form-control" required data-required-msg="El Alias es requerido" maxlength="50"  autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Identidad" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Identidad" name="Identidad" class="form-control"required data-required-msg="La Identidad es requerido"  autocomplete="off" style="width:100%"  onKeyPress="return soloNumeros(event)"/>
                                                    <span asp-validation-for="Identidad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" name="RTN" class="form-control" required data-required-msg="El RTN es requerido" autocomplete="off" style="width:100%" onKeyPress="return soloNumeros(event)" />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Referencia" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Referencia" name="Phone" class="form-control"  autocomplete="off" style="width:100%" required data-required-msg="La Referencia es requerido"/>
                                                    <span asp-validation-for="Referencia" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Origen" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Origen" name="Origen" class="form-control" maxlength="50" autocomplete="off" style="width:100%" required data-required-msg="El Origen es requerido"/>
                                                    <span asp-validation-for="Origen" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="btnBlackListCustomers" class="btn btn-success" type="button" onclick="SaveBlackListCustomers(this);"> Guardar </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    $(document).ready(function () {
       
        $("#Identidad").kendoMaskedTextBox({
            mask: "0000-0000-00000"
        });
        $("#RTN").kendoMaskedTextBox({
            mask: "0000-0000-000000"
        });
    });

    function RefrescarGrid() {

        var grid = $("#gridBlackListCustomers").getKendoGrid();
        grid.dataSource.read();
        

    }

    function SaveBlackListCustomers(e) {
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnBlackListCustomers").hide();
            $("#btnBlackListCustomers").prop("disabled", true);

        var displayedData = $("#gridBlackListCustomers").data().kendoGrid.dataSource.view();

        var dataObject = {  'BlackListId': $("#BlackListId").val()===""?"0":$("#BlackListId").val(),
                           'CustomerId': $("#CustomerId").val(),
                           'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                           'CustomerReference': $("#CustomerReference").val(),
                            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),

                           'Alias': $("#Alias").val(),
                           'Identidad': $("#Identidad").val(),
                           'RTN': $("#RTN").val(),
                           'Referencia': $("#Referencia").val(),
                           'Origen': $("#Origen").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
        };

        console.log('VALIDAR', dataObject);
        
        var validator = $("#frmBlackListCustomers").data("kendoValidator");
                 var status = $(".status");
           
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveBlackListCustomers", "BlackListCustomers")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            $("#BlackListId").val(data.BlackListId);
                            swal("Lista Negra De Clientes", "Datos guardados", "success");
                            $('#ModalBlackListCustomers').modal('hide');
                            RefrescarGrid();
                            window.addEventListener("keyup", function (event) {
                                var codigo = event.keyCode || event.which;
                                if (codigo == 13) {
                                    //Cierras tu ventana
                                }
                            }, false);


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                           swal(textStatus + ":" + XMLHttpRequest.responseText);

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            

            $("#btnBlackListCustomers").show();
            $("#btnBlackListCustomers").prop("disabled", false);
    }
</script>
