@model ERPMVC.DTO.PESPDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalPEPS" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">PEPS</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmPEPS" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SavePEPS"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">PEPS</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PEPSId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="PEPSId" name="PEPSId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="PEPSId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width:100%">Fecha de documento</label>
                                                    <kendo-datetimepicker name="DocumentDate" style="width: 100%;"
                                                                          format="yyyy-MM-dd"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Funcionario" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Funcionario" name="Funcionario" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Funcionario" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="CountryId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        for="@Model.CountryId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function GetCountryId() {

                                                            return { 'CountryId': $("#CountryId").val() }
                                                        }
                                                    </script>
                                                   

                                                    <label asp-for="StateId" class="control-label"></label>
                                                    <kendo-dropdownlist name="StateId"
                                                                        for="@Model.StateId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Departamento"
                                                                         cascade-from="CountryId"
                                                                        auto-bind="false"
                                                                        required
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "State")" data="GetCountryId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <script>
                                                    function GetStateId() {

                                                        return { 'StateId': $("#StateId").val() }
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="CityId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CityId"
                                                                        for="@Model.CityId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Ciudad"

                                                                        cascade-from="CountryId"
                                                                        auto-bind="false"
                                                                        required
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "City")" data="GetStateId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Cargo" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Cargo" name="Cargo" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Cargo" class="text-danger"></span>
                                                </div>
                                            </div>

                                           

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Observacion" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Observacion" name="Observacion" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Observacion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Official" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Official" name="Official" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Official" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
           

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                                
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button id="btnPEPS" class="form-control btn-miboton" type="submit"> Guardar </button>
                                                    </div>
                                                </div>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SavePEPS(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnPEPS").hide();
            $("#btnPEPS").prop("disabled", true);

        var displayedData = $("#gridPEPS").data().kendoGrid.dataSource.view();

        var dataObject = {
            'PEPSId': $("#PEPSId").val() === "" ? "0" : $("#PEPSId").val(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            //'DocumentDate':'2019-12-12',
            'Funcionario': $("#Funcionario").val(),
            'Cargo': $("#Cargo").val(),
            'StateId': $("#StateId").val(),
            'StateName': $("#StateId").data("kendoDropDownList").text(),
            'CityId': $("#CityId").val(),
            'CityName': $("#CityId").data("kendoDropDownList").text(),
            'CountryId': $("#CountryId").val(),
            'CountryName': $("#CountryId").data("kendoDropDownList").text(),
            'Observacion': $("#Observacion").val(),
            'Official': $("#Official").val(),
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text(),

        }
     //   console.log('DATA OBJECT',dataObject);

            //console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
            //form.validate();

        var validator = $("#frmPEPS").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SavePEPS", "PEPS")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshPEPS();

                            $('#ModalPEPS').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
           

            $("#btnPEPS").show();
            $("#btnPEPS").prop("disabled", false);
    }

    function RefreshPEPS() {
        var grid = $("#gridPEPS").getKendoGrid();
        grid.dataSource.read();
    }
</script>
