@model ERPMVC.DTO.ProformaInvoiceDTO 


@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
        {"required","Valor requerido" }
    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}





<script>
   
    $(document).ready(function () {
        // create DropDownList from input HTML element
        var data = [
            { text: "Credito", value: "3" },
        ];

        $("#SalesTypeId").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            index: 0,
            //change: onChange
        });
    })

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;



    }


                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#ProformaName").val(result.CustomerName);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          $("#CustomerRefNumber").val(result.CustomerRefNumber);
                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                             alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }

                                                        function valueMapper(options) {
                                                            $.ajax({
                                                                url: "@Url.Action("Orders_ValueMapper", "SalesOrder")",
                                                                data: convertValues(options.value),
                                                                success: function (data) {
                                                                    options.success(data);
                                                                }
                                                            });
                                                        }

                                                        function convertValues(value) {
                                                            var data = {};
                                                            value = $.isArray(value) ? value : [value];

                                                            for (var idx = 0; idx < value.length; idx++) {
                                                                data["values[" + idx + "]"] = value[idx];
                                                            }

                                                            return data;
                                                        }
                                                        function changesetearvalues() {
                                                            var dataObject = { 'Id': $("#cbxBuscarCotizaciones").val() };
                                                               $.ajax({
                                                                     url: '@Url.Action("GetSalesOrderById", "SalesOrder")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                     success: function (data) {
                                                                        //console.log(data);

                                                                         $("#BranchId").data("kendoDropDownList").value(data.BranchId);
                                                                         $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                                                         $("#ProductId").data("kendoDropDownList").value(data.ProductId);
                                                                         $("#CurrencyId").data("kendoDropDownList").value(data.CustomerId);
                                                                         $("#SalesTypeId").data("kendoDropDownList").value(data.CustomerId);
                                                                         $("#BranchId").data("kendoDropDownList").value(data.BranchId);

                                                                         //hcustom = data.CustomerId;
                                                                         //GetProductTypeIdS();
                                                                         //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                                         //$("#SubProductId").data("kendoDropDownList").value(data.SubProductId);

                                                                         $("#OrderDate").val(data.OrderDate);
                                                                         $("#DeliveryDate").val(data.DeliveryDate);
                                                                         $("#ExpirationDate").val(data.ExpirationDate);
                                                                         $("#CustomerRefNumber").val(data.CustomerRefNumber);
                                                                         $("#Remarks").val(data.Remarks);
                                                                         $("#Amount").val(data.Amount);
                                                                         $("#Correo").val(data.Correo);
                                                                         $("#Direccion").val(data.Direccion);
                                                                         $("#RTN").val(data.RTN);
                                                                         $("#Tefono").val(data.Tefono);
                                                                         $("#ProformaName").val(data.SalesOrderName);

                                                                         $("#SubTotal").data("kendoNumericTextBox").value(data.SubTotal);
                                                                         $("#Discount").data("kendoNumericTextBox").value(data.Discount);
                                                                         $("#Tax").data("kendoNumericTextBox").value(data.Tax);
                                                                         $("#Freight").data("kendoNumericTextBox").value(data.Freight);
                                                                         $("#TotalExento").data("kendoNumericTextBox").value(data.TotalExento);
                                                                         $("#TotalExonerado").data("kendoNumericTextBox").value(data.Freight);
                                                                         $("#TotalGravado").data("kendoNumericTextBox").value(data.TotalGravado);
                                                                         $("#Total").data("kendoNumericTextBox").value(data.Total);

                                                                         $("#Name").val(data.Motorista);

                                                                         if ($("#cbxBuscarCertificadosDeposito").val() === '' || $("#cbxBuscarCertificadosDeposito").val() ===null) {
                                                                             var grid = $("#gridProformaInvoiceDetail").data("kendoGrid");
                                                                             var datasource = grid.dataSource;
                                                                             var raw = datasource._data;
                                                                             for (i = datasource._data.length - 1; i >= 0; i--) {
                                                                                 item = raw[i];
                                                                                 datasource.remove(item);
                                                                             }

                                                                             for (i = 0; i < data.SalesOrderLines.length; i++) {
                                                                                 datasource.insert({
                                                                                     ProformaLineId: 0, ProformaInvoiceId: 0
                                                                                     , TaxCode: data.SalesOrderLines[i].TaxCode
                                                                                     , UnitOfMeasureName: data.SalesOrderLines[i].UnitOfMeasureName, UnitOfMeasureId: data.SalesOrderLines[i].UnitOfMeasureId
                                                                                     , SubProductId: data.SalesOrderLines[i].SubProductId, SubProductName: data.SalesOrderLines[i].SubProductName
                                                                                     , SubTotal: data.SalesOrderLines[i].SubTotal, Price: data.SalesOrderLines[i].Price
                                                                                     , DiscountAmount: data.SalesOrderLines[i].DiscountAmount, TaxCode: data.SalesOrderLines[i].TaxCode
                                                                                     , TaxAmount: data.SalesOrderLines[i].TaxAmount, Total: data.SalesOrderLines[i].Total
                                                                                     , Quantity: data.SalesOrderLines[i].Quantity, WareHouseId: data.SalesOrderLines[i].WarehouseId
                                                                                     , ControlPalletsId: $("#cbxBuscarCotizaciones").val()
                                                                                 });
                                                                             }
                                                                         }

                                                                       //  $("#singuardar").val(1);


                                                                     },
                                                                     error: function (XMLHttpRequest, textStatus, errorThrown) {

                                                                       //  $("#btngenerarfactura").show();

                                                                         swal("Validación", textStatus + ": " + XMLHttpRequest.responseText, "error");

                                                                     }
                                                                 });
                                                        }


</script>

<div class="card card-outline-inverse">
    <div class="card-header">
        <h3 class="m-b-0 text-white">Factura al Crédito</h3>
    </div>
    <div class="card-body">
        <div class="row" hidden>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="hidden" id="singuardar" value="0" />
                    <label for="cbxBuscar" class="control-label" style="width:100%">Asociar Cotizacion</label>
                    @(Html.Kendo().DropDownList()
                                                                                        .Name("cbxBuscarCotizaciones")
                                                                                        .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                                                        .OptionLabel("Buscar Cotización")

                                                                                        .DataTextField("SalesOrderName")
                                                                                        .DataValueField("SalesOrderId")
                                                                                        .HtmlAttributes(new { style = "width:100%" })
                                                                                        .Height(290)
                                                                                        .Events(e =>
                                                                                        {
                                                                                            e.Change("changesetearvalues");
                                                                                                //e.Filtering("applyFilterCustomer");
                                                                                            })
                                                                                        .AutoBind(true)

                                                                                        .DataSource(source =>
                                                                                        {
                                                                                            source.Ajax()
                                                                                            .PageSize(80)

                                                                                            .Read("Virtualization_Read", "SalesOrder");
                                                                                            source.ServerFiltering(true);
                                                                                        })
                                                                                        .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                    )
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                              method="post" class="validation-wizard wizard-circle">
                            @*<div class="form-body">*@
                            <div class="row">
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label class="control-label">Empleados</label>
                                        <input type="text" class="form-control" style="min-width: 100%" />
                                        @*<kendo-dropdownlist name="IdEmpleado" for="@Model.IdEmpleado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                option-label="Seleccione el Empleado"
                                                datatextfield="NombreEmpleado"
                                                datavaluefield="IdEmpleado"
                                                class="form-control-line"
                                                onchange="SetCustomerName();"
                                                required
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                    <transport>
                                        <read url="@Url.Action("Get", "Employees")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>*@
                                    </div>
                                </div>
                                <div class="col-md-4" hidden>
                                    <div class="form-group">
                                        <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>
                                        <input type="text" disabled value="Contado" onchange="validarSalesType()" asp-for="SalesTypeId" class="form-control" style="min-width: 100%" />

                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4" hidden>
                                    <div class="form-group">
                                        <label asp-for="ProformaId" class="control-label">Factura No.</label>
                                        <kendo-numerictextbox name="SalesOrderId"
                                                              format="n"
                                                              min="0"
                                                              disabled
                                                              max="99999999"
                                                              step="1"
                                                              style="width: 100%;"
                                                              value="Model.ProformaId" />
                                        <span asp-validation-for="ProformaId" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="OrderDate" class="control-label" style="width: 100%;">Fecha</label>
                                        <kendo-datetimepicker name="OrderDate"
                                                              style="width: 100%;"
                                                              format="dd/MM/yyyy hh:mm:ss"
                                                              time-format="hh:mm:ss"
                                                              onchange="Calcularfecha();" id="OrderDate"
                                                              data-val-required="La fecha es requerida"
                                                              value="Model.OrderDate" />
                                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="BranchId" class="control-label">Sucursal</label>
                                        <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            @*option-label="Seleccione la sucursal" *@
                                                            datatextfield="BranchName"
                                                            enable="false"
                                                            datavaluefield="BranchId"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Branch")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label" style="width:100%">Cliente</label>
                                        <div class="input-group">
                                            <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione el cliente"
                                                                datatextfield="CustomerName"
                                                                datavaluefield="CustomerId"
                                                                class="form-control-line"
                                                                onchange="SetCustomerName();"
                                                                required data-required-msg="El Cliente es Requerido."
                                                                style="width: 80%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                    <transport>
                                                        <read url="@Url.Action("GetCustomerConcatenado", "Customer")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span class="input-group-btn">
                                                <button class="btn btn-info" id="btnCustomer" onclick="AddCustomer()" type="button"><span class="	glyphicon glyphicon-plus"></span> Añadir</button>
                                            </span>

                                        </div>
                                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="RTN" readonly required class="form-control required " style="min-width: 100%" onKeyPress="return soloNumeros(event)" />
                                        <span asp-validation-for="RTN" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="Correo" class="form-control" readonly maxlength="50" style="min-width: 100%" />
                                        <span asp-validation-for="Correo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="Tefono" readonly name="Tefono" class="form-control required " style="min-width: 100%" onKeyPress="return soloNumeros(event)" />
                                        <span asp-validation-for="Tefono" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class=" col-sm-4 col-md-4" hidden>
                                    <div class="form-group">
                                        <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                        <textarea asp-for="Direccion" readonly required class="form-control required " maxlength="150" style="min-width: 100% !important;"></textarea>
                                        <span asp-validation-for="Direccion" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div id="SalesOrderLineMant">
                        @await Html.PartialAsync("pvwProformaInvoiceDetail", new ERPMVC.DTO.ProformaInvoiceLineDTO { ProformaLineId = 0, ProformaInvoiceId = Model.ProformaId })
                    </div>



                    <div class="card">
                        <div class="card-body">
                            @*<div id="salesorderdetail">
                    @await Html.PartialAsync("pvwProformaInvoiceDetail", Model)
                </div>*@

                            @*<div id="SalesOrderLineMant">
                    @await Html.PartialAsync("pvwProformaInvoiceDetailMant", new ERPMVC.DTO.ProformaInvoiceLineDTO { ProformaLineId = 0, ProformaInvoiceId = Model.ProformaId })
                </div>*@



                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>

                            <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                <div class="box" id="TotalesDocumento">
                                    <div class="box-body">
                                        <div class="content-container-fluid">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            <label asp-for="Tax18" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="Tax18"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Tax18" />
                                                            <span asp-validation-for="Tax18" class="text-danger"></span>
                                                        </dd>



                                                        <dt>
                                                            <label asp-for="Freight" class="control-label"></label>
                                                        </dt>
                                                        <dd>
                                                            <kendo-numerictextbox name="Freight"
                                                                                  format="n2" spinners="false"
                                                                                  style="width: 100%;text-align:right;padding-right:3px"
                                                                                  min="0"
                                                                                  required class="control-label right bold"
                                                                                  onchange="CalcularTotalDocumento();"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Freight" />
                                                            <span asp-validation-for="Freight" class="text-danger"></span>
                                                        </dd>
                                                        <dt>
                                                            <label asp-for="TotalExento" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="TotalExento"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalExento" />
                                                            <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                        </dd>


                                                        <dt>
                                                            <label asp-for="TotalExonerado" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="TotalExonerado"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalExonerado" />
                                                            <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                                        </dd>

                                                        <dt>
                                                            <label asp-for="TotalGravado" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="TotalGravado"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalGravado" />
                                                            <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                        </dd>
                                                        <dt>
                                                            <label asp-for="TotalGravado18" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="TotalGravado18"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalGravado18" />
                                                            <span asp-validation-for="TotalGravado18" class="text-danger"></span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            <label asp-for="Amount" class="control-label"></label>
                                                        </dt>
                                                        <dd>
                                                            <kendo-numerictextbox name="Amount"
                                                                                  format="n2"
                                                                                  spinners="false"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  min="0" disabled class="control-label right bold"
                                                                                  max="999999999"
                                                                                  value="Model.Amount" />
                                                            <span asp-validation-for="Amount" class="text-danger"></span>
                                                        </dd>


                                                        <dt>
                                                            <label asp-for="Discount" class="control-label"></label>
                                                        </dt>
                                                        <dd>
                                                            <kendo-numerictextbox name="Discount"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  max="999999999"
                                                                                  disabled class=" control-label right bold"
                                                                                  value="Model.Discount" />
                                                            <span asp-validation-for="Discount" class="text-danger"></span>
                                                        </dd>

                                                        <dt>
                                                            <label asp-for="SubTotal" class="control-label"></label>
                                                        </dt>
                                                        <dd>
                                                            <kendo-numerictextbox name="SubTotal"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  required
                                                                                  disabled class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.SubTotal" />
                                                            <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                        </dd>

                                                        <dt>
                                                            <label asp-for="Tax" class="control-label"></label>
                                                        </dt>
                                                        <dd>
                                                            <kendo-numerictextbox name="Tax"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Tax" />
                                                            <span asp-validation-for="Tax" class="text-danger"></span>
                                                        </dd>

                                                        <dt>
                                                            <label asp-for="Total" class="control-label"></label>
                                                        </dt>

                                                        <dd>
                                                            <kendo-numerictextbox name="Total"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required class="control-label right bold"
                                                                                  style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Total" />
                                                            <span asp-validation-for="Total" class="text-danger"></span>
                                                        </dd>

                                                    </dl>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <dl class="dl-horizontal">
                                                        <dt>
                                                            <label asp-for="Remarks" class="control-label">Observaciones</label>
                                                        </dt>
                                                        <dd>
                                                            <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>
                                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                                        </dd>
                                                    </dl>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="card-footer">
                                <button id="btnSaveCotizacion" type="submit" class="btn-success" onclick="SaveCotizacion(this);">Guardar</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    //validar espacios
    if (document.frmSalesOrder.Direccion.value.split('  ').length >= 2) {
        alert('Hay mas de 2 Espacios Juntos');
        document.frmSalesOrder.Direccion.value = '';
    }
    
    if (document.frmSalesOrder.Correo.value.split('  ').length >= 2) {
        alert('Hay mas de 2 Espacios Juntos');
        document.frmSalesOrder.Correo.value = '';
    }
    //validar fecha sea menor a 30 dias
       function Calcularfecha() {
           debugger
           //$("#OrderDate").change(function () {
           //    var FechaLimiteEmision = $("#Date").getKendoDateTimePicker().value().toJSON();
           //    var FechaRecepcion = $("#OrderDate").getKendoDatePicker().value().toJSON();
           //    if (Date.parse(FechaRecepcion) >= Date.parse(FechaLimiteEmision)) {
           //        alert("Fecha de Transacción no puede ser mayor que la fecha de hoy.")
           //        $("#OrderDate").val('');
           //    }
           //});

           const fecha = $("#OrderDate").getKendoDateTimePicker().value().toJSON();
           const fecha_value = new Date(fecha).getFullYear(fecha);
           const fecha_valuem = new Date(fecha).getMonth(fecha) + 1;
           const fecha_valued = new Date(fecha).getDate(fecha);
        const fechaActual = new Date().getFullYear();
        const fechaActualm = new Date().getMonth() + 1;
        const fechaActuald = new Date().getDate();

           if (fechaActuald > fecha_valued && fechaActualm > fecha_valuem) {
               alert("no puede seleccionar una fecha menor de 30 dias");

               document.getElementById('OrderDate').value = fechaActuald + "/" + fechaActualm + "/" + fechaActual;
           }
       }

    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    $(document).ready(function () {
        $("#Tefono").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        debugger
        $("#RTN").kendoMaskedTextBox({
            mask: "0000-0000-000000"
        });
        //var fecha=$("#OrderDate").Val();
    });
    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridCotizaciones").getKendoGrid();
        grid.dataSource.read();
    }

                            function SaveCotizacion(e) {

                                // e.preventDefault();
                                //$("#btnSaveCotizacion").hide();
                                //$("#btnSaveCotizacion").prop("disabled", true);
                                debugger;
                                var validadetalle = true;
                                var displayedData = $("#gridProformaInvoiceDetail").data().kendoGrid.dataSource.view();
                                for (var i = 0; i < displayedData.length; i++) {
                                    displayedData[i].ProformaLineId = 0;
                                    displayedData[i].UnitOfMeasureName = 'Unidades';
                                    displayedData[i].UnitOfMeasureId = 7;
                                    if (displayedData[i].TaxCode === '' || displayedData[i].TaxCode === null
                                        || displayedData[i].Total === 0) {

                                        swal("Validación", "No Ingreso el codigo de impuesto" + "info");

                                        validadetalle = true;
                                    }
                                }

                                if (validadetalle) {
                                    var dataObject = {
                                        'ProformaId': $("#ProformaId").val() === "" ? "0" : $("#ProformaId").val(),
                                        //'ProformaName': $("#ProformaName").val(),
                                        'ProformaName': 'Ventas',
                                        'BranchId': $("#BranchId").val(),
                                        'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                                        'CustomerId': $("#CustomerId").val(),
                                        'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                                        //'ProductId': $("#ProductId").val(),
                                        //'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                                        'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                                        'DeliveryDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                                        'ExpirationDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                                        //'CurrencyId': Number($("#CurrencyId").val()),
                                        'CurrencyId': 1,
                                        //'CustomerRefNumber': $("#CustomerRefNumber").val(),
                                        'CustomerRefNumber': 0,
                                        //'SalesTypeId': $("#SalesTypeId").val(),
                                        'SalesTypeId': 1,
                                        //'TypeContractId': Number($("#TypeContractId").val()),
                                        //'NameContract': $("#TypeContractId").data("kendoDropDownList").text(),
                                        'Remarks': $("#Remarks").val(),
                                        'Amount': $("#Amount").val(),
                                        'SubTotal': $("#SubTotal").val(),
                                        'Discount': $("#Discount").val(),
                                        'Tax': $("#Tax").val(),
                                        'Freight': $("#Freight").val(),
                                        'Total': $("#Total").val(),
                                        'Correo': $("#Correo").val(),
                                        'Direccion': $("#Direccion").val(),
                                        'RTN': $("#RTN").val(),
                                        'Tefono': $("#Tefono").val(),
                                        'TotalExento': $("#TotalExento").val(),
                                        'TotalExonerado': $("#TotalExonerado").val(),
                                        'TotalGravado': $("#TotalGravado").val(),
                                        'SalesOrderId': ($("#cbxBuscarCotizaciones").val() === '' ? 0 : $("#cbxBuscarCotizaciones").val()),
                                        'CertificadoDepositoId':0,
                                        'CustomerAreaId':0,
                                        'ProformaInvoiceLine': displayedData,

                                    };

                                    var validator = $("#frmSalesOrder").data("kendoValidator");
                                    var validator2 = $("#TotalesDocumento").data("kendoValidator");



                                    //   console.log(displayedData);
                                    //for (var i = 0; i < displayedData.length; i++) {
                                    //    console.log(displayedData[i].TaxCode);
                                    //    if (displayedData[i].TaxCode === '' || displayedData[i].TaxCode === null
                                    //        || displayedData[i].TaxCode === undefined
                                    //        || displayedData[i].Total === undefined
                                    //    ) {
                                    //        $.toast({
                                    //            heading: 'Advertencia ',
                                    //            text: '\n Actualice los datos del detalle.',
                                    //            position: 'top-right',
                                    //            loaderBg: '#ff6849',
                                    //            icon: 'warning',
                                    //            hideAfter: 30000,
                                    //            stack: 6
                                    //        });
                                    //        $("#btnSaveCotizacion").show();
                                    //        $("#btnSaveCotizacion").prop("disabled", false);
                                    //        return;
                                    //    }
                                    //}


                                    if (displayedData.length > 0) {
                                        if (validator.validate() && validator2.validate()) {
                                        //if (validator2.validate()) {
                                            $.ajax({
                                                url: '@Url.Action("SaveProformaInvoice", "ProformaInvoice")',
                                                method: 'POST',
                                                datatype: "json",
                                                //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                                contentType: 'application/json',
                                                async: false,
                                                data: JSON.stringify(dataObject),
                                                success: function (data) {


                                                    $("#ProformaId").data("kendoNumericTextBox").value(data.ProformaId);

                                                    swal("Factura","Se ha registrado la factura","success")
                                                    RefreshCotizaciones();
                                                   //$('#myModalSalesOrder').modal('hide');

                                                },
                                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                    $("#btnSaveCotizacion").show();
                                                    $("#btnSaveCotizacion").prop("disabled", false);

                                                    swal("Informacion", textStatus + ": " + XMLHttpRequest.responseText,"info")

                                                }
                                            });

                                        }
                                        else {
                                            swal("Validación","Complete los Campos","info");

                                        }
                                    }
                                    else {

                                        $("#btnSaveCotizacion").show();
                                        $("#btnSaveCotizacion").prop("disabled", false);

                                        swal("Validación", "Debe agregar los productos!", "error");

                                    }
                                }

                            }





</script>
