@model ERPMVC.Models.CustomerProduct



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "NoCertificadoDeposito" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        //if (input.attr('name') === "Price" && input.val() == 0) {
        //    return false;
        //}

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }

    function SaveCustomerProduct()
    {

        $("#btnGuardarCustProd").prop("disabled", true);

        var dataObject = {
            'CustomerProductId': $("#CustomerProductId").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerName").val(), //$("#CustomerId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
            'IdEstado': $("#IdEstado2").val(),
            'Estado': $("#IdEstado2").data("kendoDropDownList").text(),
            'SaldoProductoCertificado': $("#SaldoProductoCertificado").val(),
            'SaldoProductoTotal': $("#SaldoProductoTotal").val(),
            'SaldoProductoSacos': $("#SaldoProductoSacos").val()
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),
            //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val(),

        };

           $.ajax({
            url: '@Url.Action("SaveCustomerProduct", "CustomerProduct")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data)
            {
                $.toast({
                    heading: 'Satisfactorio',
                    text: 'Datos guardados correctamente.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 3000,
                    stack: 6
                });
                RefreshCustomerProduct();
                $('#CustProdModal').modal('hide');
                $("#btnGuardarCustProd").prop("disabled", false);

            },
               error: function (XMLHttpRequest, textStatus, errorThrown) {
                   $("#btnGuardarCustProd").prop("disabled", false);
                   alert(textStatus + ": " + XMLHttpRequest.responseText);
             }
           });
    }


    function closesalecustomerproduct() {
        $("#CustProdModal").modal('hide');

    }
</script>


<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="CustProdModal" class="modal fade" role="dialog" data-backdrop="false" style="z-index:99999; position: fixed;">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesalecustomerproduct();">&times;</button>
                <h4 class="modal-title">Información Productos/Cliente</h4>
            </div>
            <div class="modal-body">

                @{ Layout = null;
                    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
                    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }

                <div class="card-body">
                    <div class="row" id="validation">
                        <div class="col-lg-12">
                            <div class="card">

                                <div class="card-body">
                                    <form id="frmCustomerProduct" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax-begin="return SaveCustomerProduct();"
                                          data-ajax-method="post"
                                          data-ajax="true"
                                          method="post" class="wizard-circle">
                                        <!-- Contenido -->
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h3 id="titulo">Editar</h3>
                                                    <hr />
                                                    <!-- ID -->
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="CustomerProductId" class="control-label" style="width:100%">Código</label>
                                                                <input asp-for="CustomerProductId" class="form-control" style="min-width:100%" disabled />
                                                                <span asp-validation-for="CustomerProductId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Cliente -->
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="CustomerName" class="control-label" style="width:100%">Nombre del Cliente</label>
                                                                <input asp-for="CustomerName" id="CustomerNameProd" class="form-control" style="min-width:100%" disabled />
                                                                <span asp-validation-for="CustomerName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Producto -->
                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8">
                                                            <div class="form-group">
                                                                <script>
                                                                    function getProductTypeId() {
                                                                        return { 'ProductTypeId': 2 }
                                                                    }
                                                                </script>
                                                                <label asp-for="SubProductId" class="control-label">Producto </label>
                                                                <kendo-dropdownlist name="SubProductId2"
                                                                                    for="@Model.SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                                    option-label="Seleccionar Producto"
                                                                                    datatextfield="ProductName"
                                                                                    datavaluefield="SubproductId"
                                                                                    style="width: 100%;">
                                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                        <transport>
                                                                            <read url="@Url.Action("GetSubProductoByTipoJson", "SubProduct")" data="getProductTypeId" />
                                                                        </transport>
                                                                    </datasource>
                                                                </kendo-dropdownlist>
                                                                <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Estado -->
                                                    <div class="row">
                                                        <div class="col-sm-8 col-md-8">
                                                            <div class="form-group">
                                                                <label asp-for="IdEstado" class="control-label">Estado </label>
                                                                <kendo-dropdownlist name="IdEstado2" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                                    id="IdEstado2"
                                                                                    option-label="Seleccionar Estado"
                                                                                    datatextfield="NombreEstado"
                                                                                    datavaluefield="IdEstado"
                                                                                    style="width: 100%;">
                                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                        <transport>
                                                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                                        </transport>
                                                                    </datasource>
                                                                </kendo-dropdownlist>
                                                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label asp-for="SaldoProductoCertificado" class="control-label"></label>
                                                            <kendo-numerictextbox name="SaldoProductoCertificado"
                                                                                  format="n2"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required
                                                                                  style="width: 100%;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.SaldoProductoCertificado"></kendo-numerictextbox>
                                                            <span asp-validation-for="SaldoProductoCertificado" class="text-danger"></span>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label asp-for="SaldoProductoTotal" class="control-label"> </label>
                                                            <kendo-numerictextbox name="SaldoProductoTotal"
                                                                                  format="n2"
                                                                                  min="0"
                                                                                  disabled
                                                                                  required
                                                                                  style="width: 100%;"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.SaldoProductoTotal"></kendo-numerictextbox>
                                                            <span asp-validation-for="SaldoProductoTotal" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">

                                                <button type="submit" id="btnGuardarCustProd" class="form-control btn-miboton ">Guardar</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>
</div>

